.THIS .navigation {
    min-width: 225px;
    border-right: 1px solid #e7e7e7;
}
.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .page-section {
    border: solid 1px #ccc;
    padding: 1rem;
}
.THIS .page-header,
.THIS .page-footer {
    height: 50px;
}
.THIS .page-main {
    background: #f8f8f8;
}
.THIS .page-left,
.THIS .page-right {
    background: #f0efef;
}
.THIS .contentCls {
    width: 100%;
}
.THIS .borderno {
    border: none;
}