
	.section{
		border:1px solid #333;
		margin-top:20px;
	}

	.section h2{
		font-size: 1.2em;
		color: #fff;
		padding-top:5px;
		padding-bottom: 5px;
		padding-left:5px;
	}

	.whole-width{
		width:100%;
		background: #4da6ff;
	}

	.sub-block-section{
		background:#ffa64d;
		width:100%;
		text-align: center;
		padding 5px;
		font-size:1.18em;
		margin-top:20px;
		margin-bottom:10px;
	}


	.back-link{
		margin:7px;
	}

	.back-link a{
		text-decoration:none;
	}

	.back-link a:hover{
		text-decoration:none;
	}

	.btn-primary, input.btn.btn-primary{
		background: #0099cc;
		color: #ffffff;
		padding: 7px;
		border: 0 none;
		font-weight: 700;
		letter-spacing: 1px;
	}

	 td.dataCol input.btn.btn-primary{
	 	margin-left:37%;
		letter-spacing: 0px;
	 }

	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
		background: #33a6cc;
	}

	.btn-primary:active, .btn-primary.active {
		background: #007299;
		box-shadow: none;
	}



