<!--
  @File Name          : Box_LeadAutoCreate.page
  @Description        : 
  @Author             : jesfer.baculod@positivelendingsolutions.com.au
  @Group              : 
  @Last Modified By   : jesfer.baculod@positivelendingsolutions.com.au
  @Last Modified On   : 06/10/2019, 10:10:02 am
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    06/10/2019   jesfer.baculod@positivelendingsolutions.com.au     Initial Version
-->
<apex:page showHeader="false" extensions="Box_LeadAutoCreateCC" standardController="Lead" action="{!autocreateBoxFolder}">
    <apex:pageMessages />
</apex:page>