<apex:page showHeader="false" controller="CreateCaseCommentsCC">
<head>
    <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>Case Comments</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!-- Import the Design System style sheet -->
      <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
</head>

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
     <div class="PLS">
        <div class="slds-page-header">
          <div class="slds-media">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-{!LOWER(objType)}" title="{!objType}">
                <svg class="slds-icon" aria-hidden="true">
                  <use xlink:href="{!URLFOR($Resource.SLDS,'/assets/icons/standard-sprite/svg/symbols.svg#' & LOWER(objType))}"></use>
                </svg>
              </span>
            </div>
            <div class="slds-media__body">
              <h1 class="slds-page-header__title slds-truncate slds-align-middle" style="position:relative; top: 5px;" title="{!ObjType} Comments">Case Comments</h1>
            </div>
          </div>
        </div>
     </div>

  <apex:form id="mainFrm">
      <apex:pageBlock title="" id="pbcomments">
                <apex:outputPanel rendered="{!IF(comments.empty,false,true)}">
                    <apex:pageBlockTable value="{!comments}" var="com" width="100%">
                        <apex:column headerValue="Public" value="{!com.IsPublished}" />
                        <apex:column headerValue="Comment">
                                <b> Created By: {!com.CreatedBy.Name} &nbsp;<apex:outputText value="{!com.CreatedDate} " /> </b><br/>
                                <apex:outputText value="{!com.CommentBody}" />
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!IF(comments.empty,true,false)}">
                    No records to display
                </apex:outputPanel>
        </apex:pageBlock>
  </apex:form>
 </html>
</apex:page>