<!--
//@author: Jesfer Baculod - Positive Group
//@history: 06/21/17 - Created
			06/23/17 - Added Search and Create functionality
			06/26/17 - Added lookup fields, Updated UI
			06/27/17 - Updated UI - Allows enter on keypress for searching
			06/29/17 - Updated UI - Added Create buttons on search screens
					 - Updated UI - Added few fields on Referral Company create screen
			06/30/17 - Updated UI - Fixed remaining Render issues
			07/13/17 - Updated UI - Fixed discovered issues, removed a field from Key Person Contact Create Screen
			07/20/17 - Updated creating of Dealer Sale Vendor and Dealer Contact Person
			07/24/17 - Updated few messaging w/ custom labels, First Name required
			08/02/17 - Updated Modified Referral Company, Key Person Contact Create/Search Screens
			08/03/17 - Updated Indicators
			08/08/17 - Fixed single quote JS Encoding
			11/07/17 - Added Registered ABN Handling
//@description: VF page for editing Case vendor Details - Search/Creates Referral Company & Contacts
-->
<apex:page id="mainPG" showHeader="true" sidebar="false" standardController="Case" extensions="Case_EditVendorDetails_Controller" standardStylesheets="true">
	<head>
	<style>
		.opvdf{
			padding:25px;
		}
		body{
			font-size: 120%;
		}
		.modal-dialog{
			width: 75%;
		}
		.pageDescription{ 
			position: relative;
			top: -35px;
		}
		.pageType{
			top:-20px; 
			position:relative;
		}
		.bPageTitle{
			margin-bottom: 0px;
		}
	</style>
	</head>	
	<apex:stylesheet value="{!URLFOR($Resource.Bootstrap,'bootstrap-3.3.7-dist/css/bootstrap.min.css')}" />

	<apex:sectionHeader subtitle="{!cse.CaseNumber}" title="Case" /> 
	<!--<div class="slds-scope">
	  <span class="slds-icon_container slds-icon-standard-account" title="Case">
		  <svg class="slds-icon" aria-hidden="true">
		    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#case"></use>
		  </svg>
	  <span class="slds-assistive-text">{!cse.CaseNumber}</span>
	  </span>
	</div> -->
	<!--<div class="content">
		<img src="/img/s.gif" alt="Case" class="pageTitleIcon" title="Case" />
		<h1 class="pageType">Case<span class="titleSeparatingColon">:</span></h1>
		<h2 class="pageDescription"> {!cse.CaseNumber} <span class="icon"></span></h2>
		<div class="blank">&nbsp;</div>
	</div> -->
	<div class="panel-heading" style="position:relative; float:right; top:-100px;">
		<p><strong>{!$ObjectType.Case.fields.Status.label}:</strong> {!cse.Status}</p>
		<p><strong>{!$ObjectType.Case.fields.Stage__c.label}:</strong> {!cse.Stage__c}</p>
		<p><strong>{!$ObjectType.Case.fields.Sale_Type__c.label}:</strong> {!cse.Sale_Type__c}</p>
	</div>
	<script>
		var ihDV; var ihDC; var ihVC; var itDV; var itDC; var itVC; var showBConS; var creBConCtr = 0;
	</script>
	<apex:form id="mainFrm">
		<apex:outputpanel id="opAFs">
			<!-- Dealer Sale Vendor (Referral Company) Actions -->
			<apex:actionFunction name="af_srcDV" action="{!searchReferralCompany}" status="status" reRender="mainFrm" oncomplete="$('#divSearch').collapse('show'); document.getElementById(itDV).focus(); document.getElementById(itDV).select();">
				<apex:param name="prccre" value="false" assignTo="{!showRefCompCre}" />
				<apex:param name="prcs" value="true" assignTo="{!showRefCompS}" />
				<apex:param name="pbconcre" value="false" assignTo="{!showBconCre}" />
				<apex:param name="pbcons" value="false" assignTo="{!showBConS}" /> 
				<apex:param name="pkpconcre" value="false" assignTo="{!showKPconCre}" />
				<apex:param name="pkpcons" value="false" assignTo="{!showKPConS}" />
			</apex:actionFunction>
			<apex:actionFunction name="af_creDV" action="{!clearFormfields}" status="status" oncomplete=" $('#divRefCompCre').modal({backdrop: 'static'});" reRender="opModals,opscripts">
				<apex:param name="prccre" value="true" assignTo="{!showRefCompCre}" />
				<apex:param name="prcs" value="false" assignTo="{!showRefCompS}" />
				<apex:param name="pbconcre" value="false" assignTo="{!showBconCre}" />
				<apex:param name="pbcons" value="false" assignTo="{!showBConS}" /> 
				<apex:param name="pkpconcre" value="false" assignTo="{!showKPconCre}" />
				<apex:param name="pkpcons" value="false" assignTo="{!showKPConS}" />
			</apex:actionFunction>
			<!--<apex:actionFunction name="af_save_creDV" action="{!saveReferralCompany}" reRender="opRefComp,opMainFields" oncomplete="if ('{!saveSuccess}' == 'true') {  assignLookup('{!cse_DV}','{!cse_DV_Id}','{!$Component.itdv}','{!$Component.ihdv}',1); $('#divRefCompCre').modal('hide'); } else { $('#diverrmsgDV').css('display','block'); }" >
			</apex:actionFunction> -->
			<apex:actionFunction name="af_save_creDV" action="{!saveReferralCompany}" reRender="opRefComp,opMainFields,opscripts" oncomplete="if ('{!saveSuccess}' == 'true') { console.log('{!cse_DV_id}'); $('#divRefCompCre').modal('hide'); document.getElementById('{!$Component.ihDV}').value = '{!cse_DV_id}'; af_creDC(); $('#divSearch').collapse('hide'); } else { $('#diverrmsgDV').css('display','block'); }" >
			</apex:actionFunction>

			<apex:actionFunction name="af_retrieveCurrentABN" action="{!retrieveCurrentABN}" oncomplete="console.log('currentABN:{!currentABN}');" reRender="opABN, opLegalEntity" />

			<apex:actionFunction name="af_assignExDV" action="{!assignExistingReferralCompany}" reRender="opRefComp,opMainFields,opscripts" oncomplete="console.log('{!cse_DV_id}'); $('#divRefCompCre').modal('hide'); document.getElementById('{!$Component.ihDV}').value = '{!cse_DV_id}'; af_srcDC(); $('#divSearch').collapse('hide'); " />

			<!-- Dealer Contact Person (Business Contact) Actions -->
			<apex:actionFunction name="af_srcDC" action="{!searchBusinessContact}" status="status" reRender="mainFrm" oncomplete="$('#divSearch').collapse('show'); document.getElementById(itDC).focus(); document.getElementById(itDC).select();" >
				<apex:param name="pbconcre" value="false" assignTo="{!showBconCre}" />
				<apex:param name="pbcons" value="true" assignTo="{!showBConS}" /> 
				<apex:param name="prccre" value="false" assignTo="{!showRefCompCre}" />
				<apex:param name="prcs" value="false" assignTo="{!showRefCompS}" />
				<apex:param name="pkpconcre" value="false" assignTo="{!showKPconCre}" />
				<apex:param name="pkpcons" value="false" assignTo="{!showKPConS}" />
			</apex:actionFunction>
			<apex:actionFunction name="af_creDC" action="{!clearFormfields}" status="status" oncomplete="console.log('showRefCompCre: {!showRefCompCre}'); $('#divBConCre').modal({backdrop: 'static'});" reRender="opModals,opscripts">
				<apex:param name="pbconcre" value="true" assignTo="{!showBConCre}" />
				<apex:param name="pbcons" value="false" assignTo="{!showBConS}" />
				<apex:param name="prccre" value="false" assignTo="{!showRefCompCre}" />
				<apex:param name="prcs" value="false" assignTo="{!showRefCompS}" />
				<apex:param name="pkpconcre" value="false" assignTo="{!showKPconCre}" />
				<apex:param name="pkpcons" value="false" assignTo="{!showKPConS}" />
			</apex:actionFunction>
			<script>showBConS = {!showBConS}; </script>
			<apex:actionFunction name="af_save_creDC" action="{!saveBusinessContact}" reRender="opBCon,opMainFields,opAFs,opscripts" oncomplete="console.log('SaveSuccessBcon: {!saveSuccessBcon} {!saveSuccess} {!showRefCompCre}'); if ('{!saveSuccessBcon}' == 'true') { creBConCtr=0; assignLookup('{!cse_DC}','{!cse_DC_Id}','{!$Component.itdc}','{!$Component.ihdc}',2); $('#divBConCre').modal('hide'); } else $('#diverrmsgDC').css('display','block');" >
			</apex:actionFunction>

			<!-- Private Sale Vendor Contact (Key Person Contact) Actions -->
			<apex:actionFunction name="af_srcVC" action="{!searchKeyPersonContact}" status="status" reRender="mainFrm" oncomplete="$('#divSearch').collapse('show'); document.getElementById(itVC).focus(); document.getElementById(itVC).select();" >
				<apex:param name="pkpconcre" value="false" assignTo="{!showKPconCre}" />
				<apex:param name="pkpcons" value="true" assignTo="{!showKPConS}" /> 
				<apex:param name="pbconcre" value="false" assignTo="{!showBconCre}" />
				<apex:param name="pbcons" value="false" assignTo="{!showBConS}" /> 
				<apex:param name="prccre" value="false" assignTo="{!showRefCompCre}" />
				<apex:param name="prcs" value="false" assignTo="{!showRefCompS}" />
			</apex:actionFunction>
			<apex:actionFunction name="af_creVC" action="{!clearFormfields}" status="status" oncomplete="$('#divKPConCre').modal({backdrop: 'static'}); " reRender="opModals,opscripts">
				<apex:param name="pkpconcre" value="true" assignTo="{!showKPConCre}" />
				<apex:param name="pkpcons" value="false" assignTo="{!showKPConS}" />
				<apex:param name="pbconcre" value="false" assignTo="{!showBconCre}" />
				<apex:param name="pbcons" value="false" assignTo="{!showBConS}" /> 
				<apex:param name="prccre" value="false" assignTo="{!showRefCompCre}" />
				<apex:param name="prcs" value="false" assignTo="{!showRefCompS}" />
			</apex:actionFunction>
			<script>showKPConS = {!showKPConS};</script>
			<apex:actionFunction name="af_save_creVC" action="{!saveKeyPersonContact}" reRender="opKPCon" oncomplete="if ('{!saveSuccess}' == 'true') { assignLookup('{!cse_VC}','{!cse_VC_Id}','{!$Component.itvc}','{!$Component.ihvc}',3); $('#divKPConCre').modal('hide'); } else $('#diverrmsgVC').css('display','block');" >
			</apex:actionFunction>

			<apex:actionFunction name="af_assignlkl" action="{!assignLookupID}" reRender="opMainFields" oncomplete="console.log('showBconCre: {!showBconCre}, {!showBConS}, {!searchMode}');
			$('#divSearch').collapse('hide'); if ({!searchMode} == 1 && '{!showBconCre}' == 'false'){ document.getElementById(itDC).focus(); document.getElementById(itDC).value = ''; console.log('search BC'); af_srcDC(); } if ({!searchMode} == 2 || {!searchMode} == 3 ) { document.getElementById('btnSave').focus(); } ">
				<apex:param name="sID" value="" assignTo="{!cse_s_ID}" />
				<apex:param name="smode" value="" assignTo="{!searchMode}" />
				<apex:param name="pkpconcre" value="false" assignTo="{!showKPConCre}" />
				<apex:param name="pbconcre" value="false" assignTo="{!showBconCre}" />
				<apex:param name="prccre" value="false" assignTo="{!showRefCompCre}" />
			</apex:actionFunction>

			<apex:actionFunction name="af_save_cse" action="{!saveCase}" oncomplete="if ('{!saveSuccess}' == 'true'){ backToCase('save'); }" status="statusSave" reRender="mainFrm,opContainer" />

			<apex:actionFunction name="refreshPageSize" action="{!refreshPageSize}" status="status" reRender="opDVsearch,opDCsearch,opVCsearch">
				<apex:param name="prpsmode" value="" assignTo="{!searchMode}" />
			</apex:actionFunction>

			<apex:actionFunction name="af_cancel" action="{!cancel}" />

		</apex:outputpanel>

		<apex:inputHidden id="ihDV" value="{!cse_DV_Id}" />
		<apex:inputHidden id="ihDC" value="{!cse_DC_Id}" />
		<apex:inputHidden id="ihVC" value="{!cse_VC_Id}" />

		<script>
			ihDV = '{!$Component.ihDV}';
			ihDC = '{!$Component.ihDC}';
			ihVC = '{!$Component.ihVC}';
		</script>

		<div id="divMain">
		<apex:outputpanel id="opContainer" rendered="{!IF(OR(cse.Sale_Type__c == $Label.Case_Sale_Type_Private,cse.Sale_Type__c == $Label.Case_Sale_Type_Dealer),true,false)}">
		<div class="panel panel-warning">
			<div class="panel-heading" style="background-color: #f3d572; color: #000;"><strong>Vendor Details</strong></div>
			<div class="panel panel-default">
				<div id="diverrmsgMain" class="panel panel-danger" style="display:{!IF(errmsg == '','none;','block;')} padding: 10px;">
				  	<div class="panel-heading"><p><strong>Error:&nbsp;</strong> <apex:outputText escape="false" value="{!errmsg}" /></p></div>
				</div>
				<div class="panel panel-info" style="padding: 10px;">
					<div class="panel-heading">Search data by pressing ENTER or clicking <img class="lookupIcon" src="/s.gif" /> icon beside each field.</div>
				</div> 
				<table width="100%">
					<tr>
						<td width="100%">
							<apex:outputpanel id="opdv" styleclass="opvdf">
								<apex:outputpanel id="opMainFields">
								<table>
									<tr>
										<td>
											<apex:outputpanel rendered="{!IF(cse.Sale_Type__c == $Label.Case_Sale_Type_Dealer,true,false)}">
											<table>
												<tr>
													<td style="text-align:right; padding-left: 50px; padding-right: 10px;">
														<apex:outputlabel value="{!$ObjectType.Case.fields.Dealer_Vendor__c.label} " for="itdv" />
													</td>
													<td>
														<div class="requiredBlock"></div>
														<apex:inputText id="itdv" value="{!cse_DV}" onkeypress="return enterSearch(event,1);" label="{!$ObjectType.Case.fields.Dealer_Vendor__c.label}" onchange="checkinputtedFields(this.value,null,null);" /> 
														<script>itDV = '{!$Component.itDV}';</script>
													</td>
													<td>
														<table>
															<tr>
																<td>
																	<div id="spDVsearch">
																		&nbsp;<img onmouseover="this.className='lookupIconOn';" alt="Search" onmouseout="this.className='lookupIcon';" class="lookupIcon" src="/s.gif" data-toggle="collapse" data-target="#navDVsearch" onclick="af_srcDV();" />
																	</div>
																</td>
																<td>
																	<apex:outputpanel rendered="{!IF(cse_DV_id == '',false,true)}" layout="block">
																		<img src="/img/msg_icons/confirm24.png" title="{!cse_DV}" />
																	</apex:outputpanel>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											</apex:outputpanel>
										</td>
										<td>
											<apex:outputpanel rendered="{!IF(cse.Sale_Type__c == $Label.Case_Sale_Type_Dealer,true,false)}">
											<table>
												<tr>
													<td style="text-align:right; padding-left: 50px; text-align:right; padding-right: 10px;">
														<apex:outputlabel value="{!$ObjectType.Case.fields.Dealer_Contact__c.label} " for="itdc" />
													</td>
													<td>
														<apex:inputText id="itdc" value="{!cse_DC}" onkeypress="return enterSearch(event,2);" label="{!$ObjectType.Case.fields.Dealer_Contact__c.label}" onchange="checkinputtedFields(null,this.value,null);"  />
														<script>itDC = '{!$Component.itDC}';</script>
													</td>
													<td>
														<table>
															<tr>
																<td>
																	<div id="spVCsearch">
																		<img onmouseover="this.className='lookupIconOn';" alt="Search" onmouseout="this.className='lookupIcon';" class="lookupIcon" src="/s.gif" onclick="af_srcDC(); " />
																	</div>
																</td>
																<td>
																	<apex:outputpanel rendered="{!IF(cse_DC_id == '',false,true)}" layout="block">
																		<img src="/img/msg_icons/confirm24.png" title="{!cse_DC}" />
																	</apex:outputpanel>
																</td>
															</tr>
														</table>
													 </td>
												</tr>
											</table> 
											</apex:outputpanel>
										</td>
										<td>
											<apex:outputpanel rendered="{!IF(cse.Sale_Type__c == $Label.Case_Sale_Type_Private,true,false)}">
											<table>
												<tr>
													<td style="text-align:right; padding-left: 50px; padding-right: 10px;">
														<apex:outputlabel value="{!$ObjectType.Case.fields.Vendor_Contact__c.label} " for="itvc" />
													</td>
													<td>
														<apex:inputText id="itvc" value="{!cse_VC}" onkeypress="return enterSearch(event,3);" label="{!$ObjectType.Case.fields.Vendor_Contact__c.label}" onchange="checkinputtedFields(null,null,this.value);"  />
														<script>itVC = '{!$Component.itVC}';</script>
													</td>
													<td>
														<table>
														<tr>
															<td>
																<div id="spVCsearch">
																	<img onmouseover="this.className='lookupIconOn';" alt="Search" onmouseout="this.className='lookupIcon';" class="lookupIcon" src="/s.gif" onclick="af_srcVC(); " />
																</div>
															</td>
															<td>
																<apex:outputpanel rendered="{!IF(cse_VC_id == '',false,true)}" layout="block">
																	<img src="/img/msg_icons/confirm24.png" title="{!cse_VC}" />
																</apex:outputpanel>
															</td>
														</tr>
														</table>
													</td>
												</tr>
											</table>
											</apex:outputpanel>
										</td>
										<td>
											<apex:actionStatus id="status" onstart="$('#divstatus').css('display','block');" onstop="$('#divstatus').css('display','none');" />
											<div id="divstatus" style="display:none; position: relative; padding-left: 10px;">
													<center><img src="/img/loading.gif" /> <strong>Loading... </strong></center>
											</div>
											<apex:actionStatus id="statusSave" onstart="$('#divstatusSave').css('display','block');" onstop="$('#divstatusSave').css('display','none');" />
											<div id="divstatusSave" style="display:none; position: relative; padding-left: 10px;">
													<center><img src="/img/loading.gif" /> <strong>Saving... </strong></center>
											</div>

										</td>
									</tr>
								</table>
								</apex:outputpanel>
								<apex:outputpanel id="opModals">
									<div class="modal fade" id="divRefCompCre" style="padding: 10px;" role="dialog">
										<div class="card card-block modal-dialog">
											<div class="modal-content">
											<apex:outputpanel layout="block" id="opRefComp">
												<apex:pageBlock mode="edit" rendered="{!showRefCompCre}" id="pbRefCompCre">
													 <div id="diverrmsgDV" class="alert alert-danger" style="display:none;">
													  	<p><strong>Error: Invalid Data. </strong> Review all error messages below to correct your data. </p>
													  	<apex:outputPanel rendered="{!showDuplicateRC}">
													  		<apex:pageMessages escape="false" />
													  		<script>
													  			console.log('@@dupeoption: {!dupeoption}');
													  			if ('{!dupeoption}' == '1'){
													  				document.getElementById('aexrefcomp').style.fontSize = '15px';
													  				document.getElementById('aexrefcomp').onclick = function() { af_assignExDV(); };
													  			}
													  			else if ('{!dupeoption}' == '2') {
													  				document.getElementById('aexlegalentity').style.fontSize = '15px';
													  				document.getElementById('aexlegalentity').onclick = function() { 
													  								document.getElementById('mainPG:mainFrm:pbRefCompCre:pbs1:pbsile:ifLegalEntity').value = '{!exABN.Name}';
													  								af_retrieveCurrentABN();
													  						};
													  			}
													  		</script>
													  	</apex:outputPanel>
													 </div>
													<apex:pageBlockButtons >
														<button class="btn btnDVassignSuccess" style="display:none; padding:5px;" type="button" disabled="true">Saving...</button>
														<button class="btn btnDVcancelSuccess" style="display:none; padding:5px;" type="button" disabled="true">Saving...</button>
														<button class="btn btnDVassign" style="display:inline; padding:5px;" type="button" onclick="btnDVsaving(); af_save_creDV();">Create and Assign Referral Company</button>
														<button class="btn btnDVcancel" onclick="$('#divRefCompCre').modal('toggle'); cancelCreRefComp('mainPG:mainFrm:pbRefCompCre:pbs1:ifRFName','mainPG:mainFrm:pbRefCompCre:pbs1:ifRFCType','mainPG:mainFrm:pbRefCompCre:pbs1:ifRFDType','mainPG:mainFrm:pbRefCompCre:pbs1:ifRFBPhone','mainPG:mainFrm:pbRefCompCre:pbs1:pbsile:ifLegalEntity','mainPG:mainFrm:pbRefCompCre:pbs1:pbsile:ifABNName','mainPG:mainFrm:pbRefCompCre:pbs1:pbsiABN:ifRABN','mainPG:mainFrm:pbRefCompCre:pbs2:ifRFAddress','mainPG:mainFrm:pbRefCompCre:pbs2:ifRFSuburb','mainPG:mainFrm:pbRefCompCre:pbs2:ifRFPcode','mainPG:mainFrm:pbRefCompCre:pbs2:ifRFState');" style="display:inline; padding:5px;" type="button">Cancel</button>
														<script>
															function btnDVsaving(){
																$('.btnDVassignSuccess').css('display','inline');
																$('.btnDVcancelSuccess').css('display','inline');
																$('.btnDVassign').css('display','none');
																$('.btnDVcancel').css('display','none');
																$("#divRefCompCre :input").prop("disabled", true);
															}															
														</script>
													</apex:pageBlockButtons>
													<apex:pageBlockSection title="Referral Company Details" columns="1" id="pbs1">
														<apex:inputField id="ifRFName" value="{!refcomp.Name}" label="{!$ObjectType.Referral_Company__c.fields.Name.label}" required="true" onkeypress="return enterCreate(event,1);" />
														<apex:inputField id="ifRFCType" value="{!refcomp.Company_Type__c}" label="{!$ObjectType.Referral_Company__c.fields.Company_Type__c.label}" required="true" onkeypress="return enterCreate(event,1);" />
														<apex:inputField id="ifRFDType" value="{!refcomp.Dealer_Type__c}" label="{!$ObjectType.Referral_Company__c.fields.Dealer_Type__c.label}" onkeypress="return enterCreate(event,1);" required="true" />
														<apex:inputField id="ifRFBPhone" value="{!refcomp.Business_Phone_Number__c}" label="{!$ObjectType.Referral_Company__c.fields.Business_Phone_Number__c.label}" required="true" onkeypress="return enterCreate(event,1);" />
														<apex:outputText value="" />
														<apex:inputField value="{!refcomp.Company_Website__c}" label="{!$ObjectType.Referral_Company__c.fields.Company_Website__c.label}" onkeypress="return enterCreate(event,1);" />
															<apex:pageBlockSectionItem id="pbsile">
																<apex:outputLabel value="{!$ObjectType.Referral_Company__c.fields.Legal_Entity_Name__c.label}" />
																<apex:actionRegion >
																	<apex:outputpanel id="opLegalEntity">
																	<table>
																	<tr>
																	<td>
																	<apex:inputField id="ifLegalEntity" value="{!refComp.Legal_Entity_Name__c}" label="{!$ObjectType.Referral_Company__c.fields.Legal_Entity_Name__c.label}" required="true" onkeypress="return enterCreate(event,1);" rendered="{!!isCreateABN}">
																		<apex:actionSupport event="onchange" action="{!retrieveCurrentABN}" oncomplete="console.log('currentABN:{!currentABN}');" reRender="opABN, opLegalEntity" />
																	</apex:inputField>
																	<apex:inputField id="ifABNName" value="{!inputABN.Name}" required="true" rendered="{!isCreateABN}" />
																	</td>
																	<td>
																		<button class="btn btnDVassignSuccess" style="display:none; padding:5px;" type="button" disabled="true">Saving...</button>
																		<apex:outputlabel id="olbtnNewLegal" styleclass="btn btnDVassign" value="New Legal Entity" rendered="{!!isCreateABN}">
                                                                            <apex:actionSupport event="onclick" status="statusLE" rerender="opABN, opLegalEntity" immediate="true" oncomplete="document.getElementById('{!$Component.ifABNName}').value = ''; document.getElementById('{!$Component.ifABNName}').focus();">
                                                                                <apex:param name="createabn" value="true" assignTo="{!isCreateABN}" />
                                                                                <apex:param name="fName" value="" assignTo="{!curretnABN.Name}" />
                                                                                <apex:param name="fRegABN" value="" assignTo="{!currentABN.Registered_ABN__c}" />
                                                                                <apex:param name="fLENamelkup" value="{!nullparam}" assignTo="{!refcomp.Legal_Entity_Name__c}" />
                                                                            </apex:actionSupport>
                                                                        </apex:outputlabel>
                                                                        <apex:outputlabel id="olbtnSearchLegal" styleclass="btn btnDVassign" value="Search Legal Entity" rendered="{!isCreateABN}">
                                                                            <apex:actionSupport event="onclick" status="statusLE" oncomplete="document.getElementById('{!$Component.ifLegalEntity}').focus();" rerender="opABN, opLegalEntity" immediate="true">
                                                                                <apex:param name="createabn" value="false" assignTo="{!isCreateABN}" />
                                                                                <apex:param name="fName" value="" assignTo="{!curretnABN.Name}" />
                                                                                <apex:param name="fRegABN" value="" assignTo="{!currentABN.Registered_ABN__c}" />
                                                                                <apex:param name="fLENamelkup" value="{!nullparam}" assignTo="{!refcomp.Legal_Entity_Name__c}" />
                                                                            </apex:actionSupport>
                                                                        </apex:outputlabel>
																	</td>
																	<td>
																		<apex:actionStatus id="statusLE" onstart="$('#divstatusLE').css('display','block');" onstop="$('#divstatusLE').css('display','none');" />
																		<div id="divstatusLE" style="display:none; position: relative; padding-left: 10px;">
																			<center><img src="/img/loading.gif" /> <strong>Loading... </strong></center>
																		</div>
																	</td>
																	</tr>
																	</table>
																	</apex:outputpanel>
																</apex:actionRegion>
															</apex:pageBlockSectionItem>
															<apex:pageBlockSectionItem id="pbsiABN">
                                                                    <apex:outputLabel value="{!$ObjectType.Referral_Company__c.fields.Registered_ABN_F__c.label}" />
                                                                    <apex:outputpanel id="opABN" > <!-- rendered="{!IF(currentABN == null,false,true)}">  -->
                                                                        <apex:outputText value="{!currentABN.Registered_ABN__c}"  rendered="{!!isCreateABN}"/>
                                                                        <apex:inputField id="ifRABN" value="{!inputABN.Registered_ABN__c}" rendered="{!isCreateABN}" required="true"/>
                                                                    </apex:outputpanel>
                                                            </apex:pageBlockSectionItem>
														<!-- <apex:inputText id="ifRFBname" value="{!refcomp.Registered_Business_Name__c}" label="{!$ObjectType.Referral_Company__c.fields.Registered_Business_Name__c.label}" required="true" onkeypress="return enterCreate(event,1);" />
														<apex:inputField id="ifRFABN" value="{!refcomp.Registered_ABN__c}" label="{!$ObjectType.Referral_Company__c.fields.Registered_ABN__c.label}" onkeypress="return enterCreate(event,1);" required="true" /> -->
													</apex:pageBlockSection>
													<apex:pageBlockSection title="Address Details" columns="1" id="pbs2">
														<apex:inputField id="ifRFAddress" value="{!refcomp.Address_Line_1__c}" label="{!$ObjectType.Referral_Company__c.fields.Address_Line_1__c.label}" onkeypress="return enterCreate(event,1);" required="true"/>
														<!-- <apex:inputField value="{!refcomp.Address_Line_2__c}" label="{!$ObjectType.Referral_Company__c.fields.Address_Line_2__c.label}" onkeypress="return enterCreate(event,1);" /> -->
														<apex:inputField id="ifRFSuburb" value="{!refcomp.Suburb__c}" label="{!$ObjectType.Referral_Company__c.fields.Suburb__c.label}" onkeypress="return enterCreate(event,1);" required="true" />
														<apex:inputField id="ifRFPcode" value="{!refcomp.Postcode__c}" label="{!$ObjectType.Referral_Company__c.fields.Postcode__c.label}" onkeypress="return enterCreate(event,1);" required="true" />
														<apex:inputField id="ifRFState" value="{!refcomp.State__c}" label="{!$ObjectType.Referral_Company__c.fields.State__c.label}" onkeypress="return enterCreate(event,1);" required="true" />
													</apex:pageBlockSection>
													<apex:outputpanel rendered="{!showRefCompCre}">
														<script>
															$('#divRefCompCre').on('shown.bs.modal', function () {
															    document.getElementById('mainPG:mainFrm:pbRefCompCre:pbs1:ifRFName').focus();
															})
															$('#divRefCompCre').on('hidden.bs.modal', function () {
																cancelCreRefComp( //10 Required Fields on Referral Company
																	'mainPG:mainFrm:pbRefCompCre:pbs1:ifRFName',
																	'mainPG:mainFrm:pbRefCompCre:pbs1:ifRFCType',
																	'mainPG:mainFrm:pbRefCompCre:pbs1:ifRFDType',
																	'mainPG:mainFrm:pbRefCompCre:pbs1:ifRFBPhone',
																	'mainPG:mainFrm:pbRefCompCre:pbs1:pbsile:ifLegalEntity',
																	'mainPG:mainFrm:pbRefCompCre:pbs1:pbsile:ifABNName',
																	'mainPG:mainFrm:pbRefCompCre:pbs1:pbsiABN:ifRABN'
																	'mainPG:mainFrm:pbRefCompCre:pbs2:ifRFAddress',
																	'mainPG:mainFrm:pbRefCompCre:pbs2:ifRFSuburb',
																	'mainPG:mainFrm:pbRefCompCre:pbs2:ifRFPcode',
																	'mainPG:mainFrm:pbRefCompCre:pbs2:ifRFState'
																);
															})
														</script>
													</apex:outputpanel>
												</apex:pageBlock>
												<!-- <script>if ({!saveSuccess} && creBConCtr == 0) { af_creDC(); creBConCtr++; } </script> -->
											</apex:outputpanel>
											</div>
										</div>
									</div>
									<div class="modal fade" id="divBConCre" style="padding: 10px;">
										<div class="card card-block modal-dialog">
											<div class="modal-content">
												<apex:outputpanel layout="block" id="opBCon">
													<apex:pageBlock mode="edit" rendered="{!showBConCre}" id="pbbconcre">
															<div id="diverrmsgDC" class="alert alert-danger" style="display:none;">
															  	<p><strong>Error: Invalid Data. </strong> Review all error messages below to correct your data. </p>
															 </div>
															<apex:pageBlockButtons >
																<button class="btn btnDCassignSuccess" style="display:none; padding:5px;" type="button" disabled="true">Saving...</button>
																<button class="btn btnDCcancelSuccess" style="display:none; padding:5px;" type="button" disabled="true">Saving...</button>
																<button class="btn btnDCassign" style="padding:5px;" type="button" onclick="btnDCsaving(); af_save_creDC();">Create and Assign Business Contact</button>
																<button class="btn btnDCcancel" onclick="$('#divBConCre').modal('toggle'); cancelCreBusinessContact('mainPG:mainFrm:pbbconcre:pbs1:ifbconfname','mainPG:mainFrm:pbbconcre:pbs1:ifbconlname','{!$Component.pbbconcre}:pbs1:ifbconemail','{!$Component.pbbconcre}:pbs2:ifbcontitle');" style="padding:5px;" type="button">Cancel</button>
																<script>
																	function btnDCsaving(){
																		$('.btnDCassignSuccess').css('display','inline');
																		$('.btnDCcancelSuccess').css('display','inline');
																		$('.btnDCassign').css('display','none');
																		$('.btnDCcancel').css('display','none');
																		$("#divBConCre :input").prop("disabled", true);
																	}																	
																</script>
															</apex:pageBlockButtons>
															<apex:pageBlockSection title="Contact Information" columns="2" id="pbs1">
																<apex:inputField id="ifbconfname" value="{!bcon.FirstName}" label="{!$ObjectType.Contact.fields.FirstName.label}" onkeypress="return enterCreate(event,2);" required="true" />
																<apex:outputField value="{!bcon.RecordTypeId}" />
																<apex:inputField id="ifbconlname" value="{!bcon.LastName}" label="{!$ObjectType.Contact.fields.LastName.label}" onkeypress="return enterCreate(event,2);" />
																<apex:outputField value="{!bcon.Referral_Company__c}" label="{!$ObjectType.Contact.fields.Referral_Company__c.label}" />
																<apex:inputField id="ifbconemail" value="{!bcon.Email}" label="{!$ObjectType.Contact.fields.Email.label}" required="true" onkeypress="return enterCreate(event,2);" />
																<apex:inputField value="{!bcon.MobilePhone}" label="{!$ObjectType.Contact.fields.MobilePhone.label}" onkeypress="return enterCreate(event,2);" />
																<apex:inputField value="{!bcon.Lastest_Comment__c}" label="{!$ObjectType.Contact.fields.Lastest_Comment__c.label}" onkeypress="return enterCreate(event,2);" />
																<apex:inputField value="{!bcon.Tax_Invoice_Req_Email__c}" label="{!$ObjectType.Contact.fields.Tax_Invoice_Req_Email__c.label}" onkeypress="return enterCreate(event,2);" />
															</apex:pageBlockSection>

															<apex:pageBlockSection title="Additional Information" columns="2" id="pbs2">
																<apex:inputField value="{!bcon.Division_Business_Unit__c}" label="{!$ObjectType.Contact.fields.Division_Business_Unit__c.label}" onkeypress="return enterCreate(event,2);" />
																<apex:inputField id="ifbcontitle" value="{!bcon.Job_Title__c}" label="{!$ObjectType.Contact.fields.Job_Title__c.label}" required="true" onkeypress="return enterCreate(event,2);" />
															</apex:pageBlockSection>
															<apex:outputpanel rendered="{!showBConCre}">
																<script>
																	$('#divBConCre').on('shown.bs.modal', function () {
																	    document.getElementById('mainPG:mainFrm:pbbconcre:pbs1:ifbconfname').focus();
																	})
																	$('#divBConCre').on('hidden.bs.modal', function () {
																		cancelCreBusinessContact('mainPG:mainFrm:pbbconcre:pbs1:ifbconfname','mainPG:mainFrm:pbbconcre:pbs1:ifbconlname','mainPG:mainFrm:pbbconcre:pbs1:ifbconemail','mainPG:mainFrm:pbbconcre:pbs2:ifbcontitle');
																	})
																</script>
															</apex:outputpanel>
													</apex:pageBlock>
												</apex:outputpanel>
											</div>
										</div>
									</div>
									<div class="modal fade" id="divKPConCre" style="padding: 10px;" role="dialog">
										<div class="card card-block modal-dialog">
											<div class="modal-content">
											<apex:outputpanel id="opKPCon">
												<apex:pageBlock mode="edit" rendered="{!showKPConCre}" id="pbKPConCre">
														<div id="diverrmsgVC" class="alert alert-danger" style="display:none;">
														  	<p><strong>Error: Invalid Data. </strong> Review all error messages below to correct your data. </p>
														 </div>
														<apex:pageBlockButtons >
															<button class="btn btnVCassignSuccess" style="display:none; padding:5px;" type="button" disabled="true">Saving...</button>
															<button class="btn btnVCcancelSuccess" style="display:none; padding:5px;" type="button" disabled="true">Saving...</button>
															<button class="btn btnVCassign" style="padding:5px;" type="button" onclick="btnVCsaving(); af_save_creVC();">Create and Assign Key Person Contact</button>
															<button class="btn btnVCcancel" onclick="$('#divKPConCre').modal('toggle'); cancelCreKeyPersonContact('{!$Component.pbKPConCre}:pbs1:ifkpconlname');" style="padding:5px;" type="button">Cancel</button>
															<script>
																function btnVCsaving(){
																	$('.btnVCassignSuccess').css('display','inline');
																	$('.btnVCcancelSuccess').css('display','inline');
																	$('.btnVCassign').css('display','none');
																	$('.btnVCcancel').css('display','none');
																	$("#divKPConCre :input").prop("disabled", true);
																}
															</script>
														</apex:pageBlockButtons>
														<apex:pageBlockSection title="Contact Information" columns="2" id="pbs1">
															<apex:inputField id="ifkpconfname" value="{!kpcon.FirstName}" label="{!$ObjectType.Contact.fields.FirstName.label}" onkeypress="return enterCreate(event,3);" required="true"/>
															<apex:outputField value="{!kpcon.RecordTypeId}" />
															<apex:inputField id="ifkpconlname" value="{!kpcon.LastName}" label="{!$ObjectType.Contact.fields.LastName.label}" onkeypress="return enterCreate(event,3);" />
															<!-- <apex:inputField value="{!kpcon.Role__c}" label="{!$ObjectType.Contact.fields.Role__c.label}" onkeypress="return enterCreate(event,3);" /> -->
															<apex:inputField id="ifkpconmphone" value="{!kpcon.MobilePhone}" label="{!$ObjectType.Contact.fields.MobilePhone.label}" onkeypress="return enterCreate(event,3);" required="true" />
															<apex:inputField value="{!kpcon.HomePhone}" label="{!$ObjectType.Contact.fields.HomePhone.label}" onkeypress="return enterCreate(event,3);" />
															<apex:pageBlockSectionItem / >
															<apex:inputField id="ifkpconemail" value="{!kpcon.Email}" label="{!$ObjectType.Contact.fields.Email.label}" onkeypress="return enterCreate(event,3);" required="true" />
														</apex:pageBlockSection>

														<apex:pageBlockSection title="Current Address" columns="1" id="pbs2">														
															<apex:inputField id="ifkpconstreetnum" value="{!kpcon.Street_Number__c}" label="{!$ObjectType.Contact.fields.Street_Number__c.label}" onkeypress="return enterCreate(event,3);" required="true" />
															<apex:inputField id="ifkpconstreetname" value="{!kpcon.Street_Name__c}" label="{!$ObjectType.Contact.fields.Street_Name__c.label}" onkeypress="return enterCreate(event,3);" required="true" />
															<apex:inputField id="ifkpconstreettype" value="{!kpcon.Street_Type__c}" label="{!$ObjectType.Contact.fields.Street_Type__c.label}" onkeypress="return enterCreate(event,3);" required="true" /> 
															<apex:inputField id="ifkpconsuburb" value="{!kpcon.Suburb__c}" label="{!$ObjectType.Contact.fields.Suburb__c.label}" onkeypress="return enterCreate(event,3);" required="true" /> 
															<apex:inputField id="ifkpconstate" value="{!kpcon.State__c}" label="{!$ObjectType.Contact.fields.State__c.label}" onkeypress="return enterCreate(event,3);" required="true" /> 
															<apex:inputField id="ifkpconpcode" value="{!kpcon.Postcode__c}" label="{!$ObjectType.Contact.fields.Postcode__c.label}" onkeypress="return enterCreate(event,3);" required="true" /> 
															<apex:inputField id="ifkpcountry" value="{!kpcon.Country__c}" label="{!$ObjectType.Contact.fields.Country__c.label}" onkeypress="return enterCreate(event,3);" required="true" /> 
														</apex:pageBlockSection>

														<!-- <apex:pageBlockSection title="ID Information" columns="2">
															<apex:inputField value="{!kpcon.Drivers_License_Number__c}" label="{!$ObjectType.Contact.fields.Drivers_License_Number__c.label}" />
														</apex:pageBlockSection> -->
														<apex:outputpanel rendered="{!showKPConCre}">
															<script>
																$('#divKPConCre').on('shown.bs.modal', function () {
																    document.getElementById('mainPG:mainFrm:pbKPConCre:pbs1:ifkpconfname').focus();
																})
																$('#divKPConCre').on('hidden.bs.modal', function () { //11 Required fields on Key Person Contacts
																	cancelCreKeyPersonContact(
																		'mainPG:mainFrm:pbKPConCre:pbs1:ifkpconfname',
																		'mainPG:mainFrm:pbKPConCre:pbs1:ifkpconlname',
																		'mainPG:mainFrm:pbKPConCre:pbs1:ifkpconmphone',
																		'mainPG:mainFrm:pbKPConCre:pbs1:ifkpconemail',
																		'mainPG:mainFrm:pbKPConCre:pbs2:ifkpconstreetnum',
																		'mainPG:mainFrm:pbKPConCre:pbs2:ifkpconstreetname',
																		'mainPG:mainFrm:pbKPConCre:pbs2:ifkpconstreettype',
																		'mainPG:mainFrm:pbKPConCre:pbs2:ifkpconsuburb',
																		'mainPG:mainFrm:pbKPConCre:pbs2:ifkpconstate',
																		'mainPG:mainFrm:pbKPConCre:pbs2:ifkpconpcode',
																		'mainPG:mainFrm:pbKPConCre:pbs2:ifkpcountry'
																	);
																})
															</script>
														</apex:outputpanel>
												</apex:pageBlock>
											</apex:outputpanel>
											</div>
										</div>
									</div>
								</apex:outputpanel>
								<apex:outputpanel id="opSearch">
									<div class="collapse in" id="divSearch" style="padding: 10px;">
										<div class="card card-block">
											<apex:outputpanel id="opDVsearch" rendered="{!showRefCompS}">
												<apex:outputpanel >
												<apex:pageBlock id="pbDVsearch">
														<apex:outputpanel rendered="{!IF(searchRefComplist.size == 0,true,false)}">
														  <div class="alert alert-warning">
														  	<p><strong>Warning!</strong> No matching records found. </p>
														  	<div id="navpagDVsearch">
																<div>
																	&nbsp;<button id="btnDVcreate" class="btn" style="padding:5px;" type="button" onclick="af_creDV();">Create New {!$ObjectType.Case.fields.Dealer_Vendor__c.label}</button>
																</div>
															</div>
														  </div>
														</apex:outputpanel>
														<apex:outputpanel id="naviDV" rendered="{!IF(searchRefComplist.size == 0,false,true)}">
															<table width="100%">
																<tr>
																	<td>
																		<div>
																			&nbsp;<button id="btnDVcreate" class="btn" style="padding:5px;" type="button" onclick="af_creDV();">New {!$ObjectType.Case.fields.Dealer_Vendor__c.label}</button>
																		</div>
																	</td>
																	<td align="right">
																	<apex:panelGrid columns="8">
																		<apex:selectList value="{!RC_size}" multiselect="false" size="1" onchange="refreshPageSize(1);">
																			<apex:selectOption itemEscaped="false" itemValue="5" itemLabel="5"/>
														                    <apex:selectOption itemEscaped="false" itemValue="10" itemLabel="10"/>
														                    <apex:selectOption itemEscaped="false" itemValue="20" itemLabel="20"/>
														                    <apex:selectOption itemEscaped="false" itemValue="50" itemLabel="50"/>
														                </apex:selectList>&nbsp;
																		<apex:commandButton styleclass="btn" action="{!setConRC.first}" disabled="{!!setConRC.hasPrevious}" rerender="opDVsearch" value="First" />
																		<apex:commandButton styleclass="btn" action="{!setConRC.previous}" disabled="{!!setConRC.hasPrevious}" rerender="opDVsearch" value="Previous" />
																		<apex:commandButton styleclass="btn" action="{!setConRC.next}" disabled="{!!setConRC.hasNext}" rerender="opDVsearch" value="Next" />
																		<apex:commandButton styleclass="btn" action="{!setConRC.last}" disabled="{!!setConRC.hasNext}" rerender="opDVsearch" value="Last" />
																		<apex:outputText >&nbsp;{!(setConRC.pageNumber * RC_size)+1-RC_size}-{!IF((setConRC.pageNumber * RC_size)>RC_noOfRecords,RC_noOfRecords, (setConRC.pageNumber * RC_size))} of {!RC_noOfRecords}
				                										</apex:outputText> 
																	</apex:panelgrid>
																	</td>
																</tr>
															</table>
														</apex:outputpanel>
														<apex:outputpanel rendered="{!IF(searchRefComplist.size == 0,false,true)}">
															<apex:pageBlockTable id="pbtDVsearch" value="{!searchRefComplist}" var="srDV">
																<apex:column headerValue="{!$ObjectType.Referral_Company__c.fields.Name.label}">
																	<apex:outputLink value="#" onclick="assignLookup('{!JSENCODE(srDV.Name)}','{!srDV.Id}','{!$Component.itdv}','{!$Component.ihdv}',1);">
																		<apex:outputText value="{!srDV.Name}" />
																	</apex:outputLink>
																</apex:column>
																<apex:column value="{!srDV.Company_Type__c}" />
																<apex:column value="{!srDV.Dealer_Type__c}" />
																<apex:column value="{!srDV.Company_Website__c}" />
																<apex:column value="{!srDV.Address_Line_1__c}" />
																<apex:column value="{!srDV.State__c}" />
															</apex:pageBlockTable>
														</apex:outputpanel>
												</apex:pageBlock>
												</apex:outputpanel>
											</apex:outputpanel>
										</div>
										<div class="card card-block">
											<apex:outputpanel id="opDCsearch" rendered="{!showBConS}">
												<apex:outputpanel >
													<apex:pageBlock id="pbDCsearch">
															<apex:outputpanel rendered="{!noRefComp}">
																<div class="alert alert-danger">
																  	<p><strong>Error.</strong> Select a Dealer Sale Vendor first.</p>
															  	</div>	
															</apex:outputpanel>
															<apex:outputpanel rendered="{!!noRefComp}">
																<apex:outputpanel rendered="{!IF(searchBconlist.size == 0,true,false)}">
																  <div class="alert alert-warning">
																  	<p><strong>Warning!</strong> No matching records found. </p>
																  	<div id="navpagDCsearch">
																		<div>
																			&nbsp;<button id="btnDCcreate" class="btn" style="padding:5px;" type="button" onclick="af_creDC();">Create New {!$ObjectType.Case.fields.Dealer_Contact__c.label}</button>
																		</div>
																	</div>
																  </div>
																</apex:outputpanel>
																<apex:outputpanel id="naviDC" rendered="{!IF(searchBconlist.size == 0,false,true)}">
																	<table width="100%">
																		<tr>
																			<td>
																				<div>
																					<div>
																						&nbsp;<button id="btnDCcreate" class="btn" style="padding:5px;" type="button" onclick="af_creDC();">New {!$ObjectType.Case.fields.Dealer_Contact__c.label}</button>
																					</div>
																				</div>
																			</td>
																			<td align="right">
																				<apex:panelGrid columns="8">
																					<apex:selectList value="{!BCon_size}" multiselect="false" size="1" onchange="refreshPageSize(2);">
																						<apex:selectOption itemEscaped="false" itemValue="5" itemLabel="5"/>
																	                    <apex:selectOption itemEscaped="false" itemValue="10" itemLabel="10"/>
																	                    <apex:selectOption itemEscaped="false" itemValue="20" itemLabel="20"/>
																	                </apex:selectList>&nbsp;
																					<apex:commandButton styleclass="btn" action="{!setConBCon.first}" disabled="{!!setConBCon.hasPrevious}" rerender="opDCsearch" value="First" />
																					<apex:commandButton styleclass="btn" action="{!setConBCon.previous}" disabled="{!!setConBCon.hasPrevious}" rerender="opDCsearch" value="Previous" />
																					<apex:commandButton styleclass="btn" action="{!setConBCon.next}" disabled="{!!setConBCon.hasNext}" rerender="opDCsearch" value="Next" />
																					<apex:commandButton styleclass="btn" action="{!setConBCon.last}" disabled="{!!setConBCon.hasNext}" rerender="opDCsearch" value="Last" />
																					<apex:outputText >&nbsp;{!(setConBCon.pageNumber * Bcon_size)+1-Bcon_size}-{!IF((setConBCon.pageNumber * Bcon_size)>Bcon_noOfRecords,Bcon_noOfRecords, (setConBCon.pageNumber * Bcon_size))} of {!Bcon_noOfRecords}
							                										</apex:outputText> 
																				</apex:panelgrid>
																			</td>
																		</tr>
																	</table>
																</apex:outputpanel>
																<apex:outputpanel rendered="{!IF(searchBConlist.size == 0,false,true)}">
																	<apex:pageBlockTable id="pbtDCsearch" value="{!searchBConlist}" var="srDC">
																		<apex:column headerValue="Contact Name">
																			<apex:outputLink value="#" onclick="assignLookup('{!JSENCODE(srDC.Name)}','{!srDC.Id}','{!$Component.itdc}','{!$Component.ihdc}',2);">
																				<apex:outputText value="{!srDC.Name}"/>
																			</apex:outputLink>
																		</apex:column>
																		<apex:column value="{!srDC.MobilePhone}" headerValue="{!$ObjectType.Contact.fields.MobilePhone.label}" />
																		<apex:column value="{!srDC.Email}" headerValue="{!$ObjectType.Contact.fields.Email.label}"/>
																		<apex:column value="{!srDC.RecordType.Name}" headerValue="Contact Record Type"/>
																		<apex:column value=" {!srDC.CreatedDate}" headerValue="Created Date"/>
																	</apex:pageBlockTable>
																</apex:outputpanel>
															</apex:outputpanel>
													</apex:pageBlock>
												</apex:outputpanel>
											</apex:outputpanel>
										</div>
										<div class="card card-block">
											<apex:outputpanel id="opVCsearch" rendered="{!showKPConS}">
												<apex:outputpanel >
												<apex:pageBlock id="pbVCsearch">
														<apex:outputpanel rendered="{!IF(searchKPConlist.size == 0,true,false)}">
														  <div class="alert alert-warning">
														  	<p><strong>Warning!</strong> No matching records found. </p>
														  	<div id="navpagVCsearch">
																<div>
																	&nbsp;<button id="btnVCcreate" class="btn" style="padding:5px;" type="button" onclick="af_creVC();">Create New {!$ObjectType.Case.fields.Vendor_Contact__c.label}</button>
																</div>
															</div>
														  </div>
														</apex:outputpanel>
														<apex:outputpanel id="naviVC" rendered="{!IF(searchKPConlist.size == 0,false,true)}">
															<table width="100%">
																<tr>
																	<td>
																		<div>
																			&nbsp;<button id="btnVCcreate" class="btn" style="padding:5px;" type="button" onclick="af_creVC();">New {!$ObjectType.Case.fields.Vendor_Contact__c.label}</button>
																		</div>
																	</td>
																	<td align="right">
																		<apex:panelGrid columns="8">
																			<apex:selectList value="{!KPCon_size}" multiselect="false" size="1" onchange="refreshPageSize(3);">
																				<apex:selectOption itemEscaped="false" itemValue="5" itemLabel="5"/>
															                    <apex:selectOption itemEscaped="false" itemValue="10" itemLabel="10"/>
															                    <apex:selectOption itemEscaped="false" itemValue="20" itemLabel="20"/>
															                    <apex:selectOption itemEscaped="false" itemValue="50" itemLabel="50"/>
															                </apex:selectList>&nbsp;
																			<apex:commandButton styleclass="btn" action="{!setConKPCon.first}" disabled="{!!setConKPCon.hasPrevious}" rerender="opVCsearch" value="First" />
																			<apex:commandButton styleclass="btn" action="{!setConKPCon.previous}" disabled="{!!setConKPCon.hasPrevious}" rerender="opVCsearch" value="Previous" />
																			<apex:commandButton styleclass="btn" action="{!setConKPCon.next}" disabled="{!!setConKPCon.hasNext}" rerender="opVCsearch" value="Next" />
																			<apex:commandButton styleclass="btn" action="{!setConKPCon.last}" disabled="{!!setConKPCon.hasNext}" rerender="opVCsearch" value="Last" />
																			<apex:outputText >&nbsp;{!(setConKPCon.pageNumber * KPCon_size)+1-KPCon_size}-{!IF((setConKPCon.pageNumber * KPCon_size)>KPcon_noOfRecords,KPcon_noOfRecords, (setConKPCon.pageNumber * KPCon_size))} of {!KPcon_noOfRecords}
					                										</apex:outputText> 
																		</apex:panelgrid>
																	</td>
																</tr>
															</table>
														</apex:outputpanel>
														<apex:outputpanel rendered="{!IF(searchKPConlist.size == 0,false,true)}">
															<apex:pageBlockTable id="pbtVCsearch" value="{!searchKPConlist}" var="srVC">
																<apex:column headerValue="Contact Name">
																	<apex:outputLink value="#" onclick="assignLookup('{!JSENCODE(srVC.Name)}','{!srVC.Id}','{!$Component.itvc}','{!$Component.ihvc}',3);">
																		<apex:outputText value="{!srVC.Name}" />
																	</apex:outputLink>
																</apex:column>
																<apex:column value="{!srVC.HomePhone}" headerValue="{!$ObjectType.Contact.fields.HomePhone.label}"/>
																<apex:column value="{!srVC.MobilePhone}" headerValue="{!$ObjectType.Contact.fields.MobilePhone.label}"/>
																<apex:column value="{!srVC.Street_Number__c} {!srVC.Street_Name__c} {!srVC.Street_Type__c} {!srVC.Suburb__c} {!srVC.State__c} {!srVC.Postcode__c} {!srVC.Country__c}" headerValue="Address"/>
																<apex:column value="{!srVC.Email}" headerValue="{!$ObjectType.Contact.fields.Email.label}"/>
																<apex:column value="{!srVC.RecordType.Name}" headerValue="Contact Record Type"/>
															</apex:pageBlockTable>
														</apex:outputpanel>
												</apex:pageBlock>
												</apex:outputpanel>
											</apex:outputpanel>
										</div>
									</div>
								</apex:outputpanel>
							</apex:outputpanel>
						</td>
					</tr> 
				</table>
			</div>
			<center>
				<button class="btn btnmain1DB" style="display:none; padding:5px;" type="button" disabled="true">Saving...</button>
				<button class="btn btnmaincancelDB" style="display:none; padding:5px;" type="button" disabled="true">Saving...</button>
				<button type="button" id="btnSave" class="btn btnmain1" style="padding:5px;" onclick="btnDVMainsaving(); af_save_cse();">Save</button>
				<button type="button" class="btn btnmaincancel" style="padding:5px;" onclick="if (sforce.console.isInConsole()) { sforce.console.setTabTitle('{!cse.CaseNumber}'); } backToCase('cancel');">Cancel</button>
			</center>
		</div>
		</apex:outputpanel>

		<apex:outputpanel rendered="{!IF(OR(cse.Sale_Type__c == $Label.Case_Sale_Type_Private,cse.Sale_Type__c == $Label.Case_Sale_Type_Dealer),false,true)}">
			<div class="panel panel-warning">
				<div class="panel panel-danger">
				  	<div class="panel-heading"><p><strong>Error:&nbsp;</strong>{!$Label.Case_Edit_Vendor_Details_Error_Message_5}</p></div>
				</div>
			</div>
			<center>
				<button type="button" class="btn btnmaincancel" style="padding:5px;" onclick="if (sforce.console.isInConsole()) { sforce.console.setTabTitle('{!cse.CaseNumber}'); } backToCase('cancel');">Cancel</button>
			</center>
		</apex:outputpanel>
		</div>

    </apex:form>
    <apex:includeScript value="/support/console/36.0/integration.js"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{!URLFOR($Resource.Bootstrap, 'bootstrap-3.3.7-dist/js/bootstrap.min.js')}" />
    <apex:outputpanel id="opscripts">
		<script type="text/javascript">
			

			//CLear InputHidden Fields if Text boxes are blank
			function checkinputtedFields(f1,f2,f3){
				console.log(f1 + ' ' + f2 + ' ' + f3);
				if (f1 == '') document.getElementById(ihDV).value = f1;
				if (f2 == '') document.getElementById(ihDC).value = f2;
				if (f3 == '') document.getElementById(ihVC).value = f3;
			}

			//Disable buttons on Saving
			function btnDVMainsaving(){
				$('.btnmain1DB').css('display','inline');
				$('.btnmaincancelDB').css('display','inline');
				$('.btnmain1').css('display','none');
				$('.btnmaincancel').css('display','none');
				$("#divMain :input").prop("disabled", true);

			}

			//Enable Enter Key on InputText to search
			function enterSearch(e,smode){
				if(window.event){                    
					key = window.event.keyCode;     //IE               
				} 
				else{                    
					key = e.which;     //firefox               
				}               
				if(key == 13) {                    
					if (smode == 1) af_srcDV();
					else if (smode == 2) af_srcDC();
					else if (smode == 3) af_srcVC();
					return false;               
				} else{                    
					return true;               
				}  
			}

			//Enable Enter Key on inputText Create Screens
			function enterCreate(e,cmode){
				if(window.event){                    
					key = window.event.keyCode;     //IE               
				} 
				else{                    
					key = e.which;     //firefox               
				}               
				if(key == 13) {                    
					if (cmode == 1){
						btnDVsaving(); 
						af_save_creDV();	
					}
					else if (cmode == 2){ 
						btnDCsaving(); 
						af_save_creDC();	
					}
					else if (cmode == 3){
						btnVCsaving(); 
						af_save_creVC();	
					}
					return false;               
				} else{                    
					return true;               
				}  
			}

			//Workaround for cancelling Referral Company Create Screen
			function cancelCreRefComp(name, ctype, dtype, bphone, lenamelkp, lename, abn, address, suburb, pcode, state){
				console.log('showRefCompCre: {!showRefCompCre}');
				console.log('1 '+dtype);
				if ('{!showRefCompCre}' == 'true'){
					document.getElementById(name).value = 'temp'; //temp value
					document.getElementById(ctype).value = 'Car Dealer'; //temp value
					document.getElementById(dtype).value = 'Independant'; //temp value
					document.getElementById(bphone).value = '0'; //temp value
					if (document.getElementById(lenamelkp) != null){
						document.getElementById(lenamelkp).value = 'test';
					}
					console.log('@@:'+document.getElementById(lename));
					if (document.getElementById(lename) != null){
						document.getElementById(lename).value = 'test'; //temp value
						document.getElementById(abn).value = '0'; //temp value
					}
					document.getElementById(address).value = 'temp'; //temp value
					document.getElementById(suburb).value = 'temp'; //temp value
					document.getElementById(pcode).value = '0'; //temp value
					document.getElementById(state).value = 'SA'; //temp value
					document.getElementById(itDV).focus(); document.getElementById(itDV).select();
				}
			}

			//Workaround for cancelling Business Contact Create Screen
			function cancelCreBusinessContact(rfield0,rfield1,rfield2,rfield3){
				console.log('showBConCre: {!showBConCre}');
				if ('{!showBConCre}' == 'true'){
					document.getElementById(rfield0).value = 'temp'; //temp value
					document.getElementById(rfield1).value = 'temp'; //temp value
					document.getElementById(rfield2).value = 'temp@temp.com'; //temp value
					document.getElementById(rfield3).value = 'temp'; //temp value
					document.getElementById(itDC).focus(); document.getElementById(itDC).select();
				}
			}

			//Workaround for cancelling KeyPerson Contact Create Screen
			function cancelCreKeyPersonContact(fname, lname, mobile, email, snum, sname, stype, suburb, state, pcode, country){
				console.log('showKPConCre: {!showKPConCre}');
				if ('{!showKPConCre}' == 'true'){
					document.getElementById(fname).value = 'temp'; //temp value
					document.getElementById(lname).value = 'temp'; //temp value
					document.getElementById(mobile).value = 'temp'; //temp value
					document.getElementById(email).value = 'temp@temp.com'; //temp value
					document.getElementById(snum).value = 'temp'; //temp value
					document.getElementById(sname).value = 'temp'; //temp value
					document.getElementById(stype).value = 'temp'; //temp value
					document.getElementById(suburb).value = 'temp'; //temp value
					document.getElementById(state).value = 'South Australia'; //temp value
					document.getElementById(pcode).value = '0'; //temp value
					document.getElementById(country).value = 'Australia'; //temp value
					document.getElementById(itVC).focus(); document.getElementById(itVC).select();
				}
			}

			function assignLookup(recordName, recordID, elemForName, elemForID, smode){
				console.log('recordName:'+recordName);
				console.log('recordID:'+recordID);
				console.log('elemForName:'+recordName);
				console.log('elemForID:'+recordID);
				console.log('smode:'+smode);
				document.getElementById(elemForName).value = recordName;
				document.getElementById(elemForID).value = recordID;
				document.getElementById(elemForName).focus();
				//document.getElementById(elemForName).style.backgroundColor = '#4FD834';
				document.getElementById(elemForName).select();
				//setTimeout(af_assignlkl(recordID,smode,false,false,false),500);
				af_assignlkl(recordID,smode,false,false,false);
			}

			function backToCase(event){
				console.log('IsinConsole:'+sforce.console.isInConsole());
                if (sforce.console.isInConsole()){
                	console.log(event);
                	if (event == 'save'){
	                	//Refresh Case record
                		sforce.console.getEnclosingPrimaryTabId(showTabId);
                	}
                	//Close Edit Vendor Detail page
                    sforce.console.getEnclosingTabId(closeSubtab);
                }
                else{ 
                	af_cancel();
                }
				/*if (sforce.console.isInConsole()) {
			    	sforce.console.setTabTitle('{!cse.CaseNumber}');
				}
				window.location.href = '/{!cse.Id}?isdtp=vw'; */
			}

			var showTabId = function showTabId(result){
	            var tabId = result.id;
	            console.log(tabId);
	            sforce.console.refreshPrimaryTabById(tabId , true);
	        };

           	var showTabIDs = function showTabIDS(result){
           		console.log('TabIDs: '+ result.ids);
           	}

           	var closeSubtab = function closeSubtab(result) {
                var tabId = result.id;
                console.log(tabId);
                sforce.console.closeTab(tabId);
            };

            var refreshPrimTab = function refreshPrimTab(result){
            	var tabId = result.Id;
            	console.log(tabId);
            	sforce.console.refreshPrimaryTabById(tabId, true, refreshSuccess);
            }

            var refreshSuccess = function refreshSuccess(result) {
	            //Report whether refreshing the primary tab was successful
	            if (result.success == true) {
	                console.log('Primary tab refreshed');
	            } else {
	                console.log('Primary did not refresh');
	            }
	        };

           	function setTabTitle() {
                console.log('IsinConsole:'+sforce.console.isInConsole());
                if (sforce.console.isInConsole()){
                    sforce.console.setTabTitle('Edit Vendor Details');
                }
           	}      
          
           	var previousOnload = window.onload;  

			$( document ).ready(function() {
			    console.log( "ready!" );
			    //getMatchingVendors();
			    console.log('in console?:'+sforce.console.isInConsole());
			    if (sforce.console.isInConsole()) {
			    	sforce.console.setTabTitle('Edit Vendor Details');
				}
			});

			console.log('script loaded');
	    </script>
    </apex:outputpanel>
</apex:page>