<!--
  @File Name          : LeadPartnerBoxLink.page
  @Description        : 
  @Author             : jesfer.baculod@positivelendingsolutions.com.au
  @Group              : 
  @Last Modified By   : jesfer.baculod@positivelendingsolutions.com.au
  @Last Modified On   : 07/10/2019, 1:47:12 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    06/10/2019   jesfer.baculod@positivelendingsolutions.com.au     Initial Version
-->
<apex:page showHeader="false" standardController="Lead" standardStylesheets="true" >
    <apex:includeScript value="/support/console/42.0/integration.js"/>
    <script>
        var closeSubtab = function closeSubtab(result) {
                    var tabId = result.id;
                    console.log(tabId);
                    sforce.console.closeTab(tabId);
                };
            
        var showTabId = function showTabId(result){
                var tabId = result.id;
                console.log(tabId);
                sforce.console.refreshPrimaryTabById(tabId , true);
        };

        var openSuccess = function openSuccess(result) {
            if (result.success == true) {
                console.log('success');
            } 
        };

        var openSubtab  = function openSubtab (result) {
            var primaryTabId = result.id;
            console.log('Box Folder ID: {!Lead.Box_Folder_ID__c}');
            if ('{!Lead.Box_Folder_ID__c}' != ''){ 
                console.log('a1');
                sforce.console.openSubtab(primaryTabId, '/apex/box__LeadBoxSection?id={!Lead.Id}&isdtp=vw', true, 'Box Folder', null, openSuccess, 'BoxSubTab');
            }
            else {
                console.log('b1');
                sforce.console.openSubtab(primaryTabId, '/apex/Box_LeadAutoCreate?id={!Lead.Id}&isdtp=vw', true, 'Box Folder', null, openSuccess, 'BoxSubTab');
            }
            sforce.console.setSidebarVisible(false,'BoxSubTab',sforce.console.Region.RIGHT);
        };

        function openBoxFolder(){
            if (sforce.console.isInConsole()){
                sforce.console.getEnclosingPrimaryTabId(openSubtab);
            }
            else {  
                if ('{!Lead.Box_Folder_ID__c}' != ''){ 
                    console.log('a2');
                    window.open('/apex/box__LeadBoxSection?id={!Lead.Id}&isdtp=vw', 'Box Folder');    
                }
                else{
                    console.log('b2');
                    window.open('/apex/Box_LeadAutoCreate?id={!Lead.Id}&isdtp=vw', 'Box Folder');    
                }
            }
        }
    </script>
    <apex:form id="mainFrm">
        <div id="containerdiv" style="position:absolute; left:0px; top:0px; width:100%;" >
            <table width="56%">
            <tr>
                <td style="padding-left: 2px; text-align: right; font-size: 81%; font-weight: bold; color: #585863;"> <apex:outputlabel value="Partner Box Folder" />  </td>
                <td style="padding-left: 15px;">
  
                    <a href="#" onclick="openBoxFolder();">
                        <img src="{!URLFOR($Resource.BoxFolder)}" title="Click to view Box Folder of Partner" />
                    </a>
                </td>
            </tr>
            
            </table>
        </div>
    </apex:form> 
</apex:page>