<!--
  @Page Name          : LeadPrelimAssessment_Expenses.page
  @Description        : 
  @Author             : jesfer.baculod@positivelendingsolutions.com.au
  @Group              : 
  @Last Modified By   : jesfer.baculod@positivelendingsolutions.com.au
  @Last Modified On   : 16/09/2019, 6:11:20 am
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    18/07/2019, 6:33:25 am   jesfer.baculod@positivelendingsolutions.com.au     Initial Version
  1.1	 22/07/2019, 5:48:46 am	  jesfer.baculod@positivelendingsolutions.com.au	 Require Amount Owing for Cards & Credits
-->
<apex:page tabStyle="Case" controller="LeadPrelimAssessment_Expenses_CC" applyBodyTag="false" docType="html-5.0">
    <apex:includeScript value="/support/console/30.0/integration.js"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"/>
	
	<style>
		.custPopup{ 
			background-color: white;
			border-width: 2px;
			border-style: solid;
			z-index: 999;
			left: 50%;
			padding: 11px;
			position: absolute;
			width: 400px;
			margin-left: -200px;
			top: 30%;
			border-radius: 5px;
			border-color: #8e8e8e;
		} 

		.popupBackground{ 
			background-color:black; 
			opacity: 0.20; 
			filter: alpha(opacity = 20); 
			position: fixed; 
			width: 100%; 
			height: 100%; 
			top: 0; 
			left: 0; 
			z-index: 998; 
		}
		
		.pbSubheader{
			color: #000000 !important;
			background: #decd73 !important;
			font-size: 1.0em !important;
		}
		.header2 .pbSubheader{
			background: #236FBD !important;
			color: white !important;
			/* background: #8199AF !important; */
		}
		.opCA .pbSubheader {
			background-color: #1797c0 !important;
			color: white !important;
		}
		.opPA .pbSubheader {
			background-color: #b0b021 !important;
			color: white !important;
		}
		.header1 .pbSubheader {
			background-color: #d87474 !important;
    		color: white !important;
		}
		.message {
			/* padding: 0px; !important; */
		}
		.message.errorM3{ 
			/* border-style: none; !important; */
		}
		.incomeHeader .pbSubheader {
			background-color: #3d8d8d !important;
    		color: white !important;
		}
		#col1,#col2{width:49%;display:inline-block;padding-right: 10px;}

		#colAdd1,#colAdd2{width:49%;display:inline-block; padding-right: 10px;}

		#colPA,#colPA2{width:49%;display:inline-block;padding-right: 10px;}

		* {
			box-sizing: border-box;
		}

		#progress {
			padding: 0;
			list-style-type: none;
			font-family: Arial,Helvetica,sans-serif;
			font-size: 1.2em;
			clear: both;
			/* line-height: 1em; */
			/* margin: 0 -1px; */
			text-align: center;
			width: 100%;
			padding-bottom: 10px;
			/* margin: auto; */
		}

		#progress li {
			float: left;
			padding: 7px 30px 10px 40px;
			background: #E6E6E6;
			color: #fff;
			position: relative;
			border-top: 1px solid #E6E6E6;
			border-bottom: 1px solid #E6E6E6;
			width: 19%;
			margin: 0 2px;
		}

		#progress li:before {
			content: '';
			border-left: 16px solid #ffffff;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			position: absolute;
			top: 0;
			left: 0;

		}

		#progress li:first-child {
			border-radius: 30px 0 0 30px;
		}

		#progress li:last-child {
			border-radius: 0 30px 30px 0;
		}

		#progress li:first-child:before {
			display: none;
		}

		#progress li:last-child:after {
			display: none;
		}
		
		#progress li:after {
			content: '';
			border-left: 16px solid #E6E6E6;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			position: absolute;
			top: 0;
			left: 100%;
			z-index: 20;
		}

		#progress li.active {
			background: #156fd2;
		}

		#progress li.active:after {
			border-left-color: #156fd2;
		}

		#progress li.done {
			color: #16325c;
			background: #ecebea;
		}

		#progress li.pending {
			color: #fff;
			background: #4bca80;
		}

		#progress li.done:after {
			color: #16325c;
			border-left-color: #ecebea;
		}

		#progress i {
			font-size: 13px;
		}
		
	</style>

	<apex:outputpanel id="opScripts">

		<script type="text/javascript">
		
			var closeSubtab = function closeSubtab(result) {
					var tabId = result.id;
					console.log(tabId);
					sforce.console.closeTab(tabId);
				};
			
			var showTabId = function showTabId(result){
					var tabId = result.id;
					console.log(tabId);
					sforce.console.refreshPrimaryTabById(tabId , true);
			};

			var openSuccess = function openSuccess(result) {
				if (result.success == true) {
					console.log('success');
				} 
			};

			/*function savingSequence(){
				if ('{!hasErrors}' == 'true'){
					console.log('hasErrors');
				}
				else if ('{!saveExpenseSuccess}' == 'false'){
					console.log('Save Expense');
					afSave1();
				}
				else if ('{!saveLiabilitySuccess}' == 'false'){
					console.log('Save Liability');
					afSave2();
				}
				else if ('{!saveFOLinkSuccess}' == 'false'){
					console.log('Save FO Link / FO Share');
					afSave3();
				}
				else if ('{!saveCaseCaseCommentSuccess}' == 'false'){
					console.log('Save Case / Case Comment');
					afSave4();
				} 
				else{
					console.log('tempStr pre-exite: {!tempStr}'); 
					if ('{!hasErrors}' == 'false') { 
						exit(); 
					}
					else console.log('Has Errors');
				} 
			} */

			var cseObjID;
			var showObjectId = function showObjectId(result) {
				// Display the object ID
				cseObjID = result.id;
				console.log('Object ID: ' + result.id);
				console.log('cseObjID: ' + cseObjID);
				if (cseObjID != 'null' && cseObjID != undefined){ //Clicking Continue Lead Path
					console.log('clicked on Continue Lead Path');
					sforce.console.getEnclosingPrimaryTabId(showTabId);
					sforce.console.getEnclosingTabId(closeSubtab);
					//setSidebarVisible(false);
				}
				else{ //Lead Path is opened on Case Home view (clicking New Lead)
					console.log('clicked on new Lead');
					sforce.console.getEnclosingTabId(closeSubtab);
					sforce.console.openPrimaryTab(null , '/{!cse.Id}?isdtp=vw', true, '{!cse.CaseNumber}', null, openSuccess, 'CaseTab');
					console.log('case ID: {!cse.Id}');
				}
			};

			function exit(){
				console.log(sforce.console.isInConsole());
				if (sforce.console.isInConsole()){
					console.log('tempStr: {!tempStr}');
					if ('{!tempStr}' == ''){
						console.log('c');
						window.location.href = '/apex/LeadPrelimAssessment_Final?id={!cse.Id}&isdtp=vw';
					}
					else{
						console.log('a');
						sforce.console.getFocusedPrimaryTabObjectId(showObjectId);
					}
				}
				else{ //Non-Console
					console.log('b');
					if ('{!tempStr}' == ''){
						window.location.href = '/apex/LeadPrelimAssessment_Final?id={!cse.Id}';
					}
					else{
						window.location.href = '/{!cse.Id}';
					}
				}
			}

			function setTabTitle() {
				console.log('IsinConsole:'+sforce.console.isInConsole());
				if (sforce.console.isInConsole()){
					sforce.console.setTabTitle('Lead Path');
				}
			}

			var previousOnload = window.onload;        
			window.onload = function() { 
				if (previousOnload) { 
					previousOnload();
				}
				if (sforce.console.isInConsole()){                
					setTimeout('setTabTitle()', '500'); 
				}
			}

			console.log('loaded');
		</script>

	</apex:outputpanel>

	<apex:outputPanel id="opHeader">
		<apex:sectionHeader subtitle="Lead Preliminary Assessment" title="Expenses" />
	</apex:outputPanel>

    <apex:form id="mainFrm">
		<apex:actionFunction name="afSave0" action="{!Pcontinue}" status="status" rerender="mainFrm, opScripts" oncomplete="if ('{!ExpLiavalidationSuccess}' == 'true') afSaveAll();" >
			<apex:param name="aptempStr" value="" assignTo="{!tempStr}"/>
		</apex:actionFunction>

		<!-- <apex:actionFunction name="afSave1" action="{!saveExpense}" status="status" rerender="mainFrm, opScripts" oncomplete="savingSequence();" />
        <apex:actionFunction name="afSave2" action="{!saveLiability}" status="status" rerender="mainFrm, opScripts" oncomplete="savingSequence();" />
        <apex:actionFunction name="afSave3" action="{!saveFOlink}" status="status" rerender="mainFrm, opScripts" oncomplete="savingSequence();" />
        <apex:actionFunction name="afSave4" action="{!saveCaseCaseComment}" status="status" rerender="mainFrm, opScripts" oncomplete="savingSequence();" />  -->
		<apex:actionFunction name="afSaveAll" action="{!saveAll}" status="status" rerender="mainFrm" oncomplete="exit();" />

		<!-- Loading -->
			<apex:actionStatus id="status">
				<apex:facet name="start">
				<div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.20; filter: alpha(opacity = 20); z-index: 1000; background-color: black;">
					&nbsp;
				</div>
				<div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 20% 50%; font-size: 50px; color: white;">
					<img src="/img/loading.gif" />
				</div>
				</apex:facet>
			</apex:actionStatus>

		<!-- Loading -->
		<!-- Banner -->
			<apex:outputPanel id="statusPanelId">
				<ul id="progress">
					<li class="done">Who &amp; What</li>
					<li class="done" style="font-size: 13px;">Role, Address &amp; Employment</li>
					<li class="done">Income</li>
					<li class="active">Expenses</li>  <!--<li class="{!IF(curPage == 4,'active', 'done')}"><i class="fas fa-check"></i> </li> Expenses-->
					<li class="done">Finalise/Convert</li>
				</ul>
				<br/>
				<br/>
			</apex:outputPanel>
		<!-- Banner -->

		<!--PAGE4 START-->
			<apex:pageMessages id="showmsg"/>
			<apex:outputpanel id="opExpenses" layout="block" rendered="{!IF(curPage == 4,true,false)}">
				<apex:pageBlock id="pbExpenses" rendered="{!IF(curPage == 4,true,false)}" title="Loan Information" mode="maindetail">
					<apex:pageBlockButtons location="top">
						<apex:commandButton value="Save & Exit" status="status" action="{!showPopup}" rerender="tstpopup,mainFrm">
							<apex:param name="Exit" value="Exit" assignTo="{!tempStr}"/>
						</apex:commandButton>

						<apex:outputlabel value="Back" styleclass="btn" style="padding:4px;"  onclick="window.location.href = '/apex/LeadPrelimAssessment_Income?id={!cse.Id}&isdtp=vw'; " />
						<!-- <apex:commandButton value="Back(WIP)" status="status" onclick="alert('Back button in Progress!');" onComplete="return null;" disabled="true">
							<apex:param name="Back" value="Back" assignTo="{!tempStr}"/>
						</apex:commandButton> -->

						<apex:commandButton value="Refer Out" rendered="{!IF(curPage == 4,true,false)}" status="status" action="{!showPopup}" rerender="tstpopup,mainFrm" style="margin-left: 100px;">
							<apex:param name="ReferOut" value="Refer Out" assignTo="{!tempStr}"/>
						</apex:commandButton>

						<apex:commandButton value="Unqualify" rendered="{!IF(curPage == 4,true,false)}" status="status" action="{!showPopup}" rerender="tstpopup,mainFrm">
							<apex:param name="Unqualify" value="Unqualify" assignTo="{!tempStr}"/>
						</apex:commandButton>

						<apex:outputLabel styleClass="btn" style="padding:4px; margin-left: 100px;" value="Next Page..." onclick="afSave0('');" />

						<!-- <apex:commandButton value="Next Page..." status="status" action="{!Pcontinue}" rerender="mainFrm,opHeader,statusPanelId" style="margin-left: 100px;">
							<apex:param name="Blank" value="" assignTo="{!tempStr}"/>
						</apex:commandButton> -->
					</apex:pageBlockButtons>
					<!--  -->
					<apex:pageBlockSection columns="1" collapsible="false">
						<apex:outputField value="{!cse.Loan_Name__c}"/>
						<apex:outputField value="{!cse.CaseNumber}"/>
						<apex:outputField value="{!cse.Lead_Application_Type__c}"/>
					</apex:pageBlockSection>
				</apex:pageBlock>
				<!-- Combined Expenses -->
				<apex:pageBlock id="pbCombExpenses" rendered="{!IF(curPage == 4,true,false)}" title="Combined Expenses" mode="edit">
					<apex:outputpanel id="opExpenseDetails" layout="block" rendered="{!IF(curPage == 4,true,false)}">
							<apex:pageBlockSection columns="1" title="Current Expenses" collapsible="false"></apex:pageBlockSection>
							<!-- ACCOMODATION -->
							<table style="width:100%;background: #e0e3e5;">
								<tr>
									<th style="width:11%;">
										<h1>Accomodation</h1>
									</th>
									<th style="width:2%;">
										<apex:commandButton action="{!addExp}" status="addAccommStatus" value="Add" id="addAccom" reRender="opAccomTbl,opAccomErr">
											<apex:param id="addAccomParam" name="addAccomParam" value="Accommodation" assignTo="{!whatExp}"/>
										</apex:commandButton>
										<apex:actionStatus id="addAccommStatus" style="align:left;">
											<apex:facet name="start">
												<img src="/img/loading.gif" />
											</apex:facet>
										</apex:actionStatus>
									</th>
									<th style="width:87%;">
										<apex:outputpanel id="opAccomErr" layout="block">
											<apex:outputText style="font-style:italic; color: red;" value="{!accExpErrorMessage}"/>
										</apex:outputpanel>
									</th>
								</tr>
							</table>
							<apex:outputpanel id="opAccomTbl" layout="block">
								<apex:pageBlockTable value="{!accommodationExpWrapList}" var="expWrap">
									<apex:column width="11%" headerValue="Expense Owner">
										<apex:selectList value="{!expWrap.expOwner}" multiselect="false" size="1"> <!-- rendered="{!!expWrap.isReadOnly}"> JBACU-->
											<apex:selectOptions value="{!expenseOwner}"/>
										</apex:selectList>
										<!-- <apex:outputText value="{!expWrap.expOwner}" rendered="{!expWrap.isReadOnly}"/> JBACU-->
									</apex:column>
									<apex:column width="11%" headerValue="Expense Type">
										<!-- <apex:outputField value="{!expWrap.exp.Expense_Type__c}"/> JBACU -->
										<apex:outputPanel styleClass="requiredInput" layout="block" >
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>
											<apex:inputField value="{!expWrap.exp.Expense_Type__c}">
												<apex:actionSupport event="onchange" rerender="opAccomTbl" status="changeExpenseRT" />
											</apex:inputField>
											<apex:actionStatus id="changeExpenseRT" style="align:left;">
													<apex:facet name="start">
														<img src="/img/loading.gif" />
													</apex:facet>
												</apex:actionStatus>
										</apex:outputpanel>
									</apex:column>
									<apex:column width="11%" headerValue="Payment Amount">
										<apex:outputPanel styleClass="requiredInput" layout="block" >
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>
											<apex:inputField value="{!expWrap.exp.Payment_Amount__c}"/>
											<!--required="true"-->
										</apex:outputPanel>
									</apex:column>
									<apex:column width="11%" headerValue="Payment Frequency">
										<apex:outputPanel styleClass="requiredInput" layout="block" >
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>
											<apex:inputField value="{!expWrap.exp.Payment_Frequency__c}"/>
											<!--required="true"-->
										</apex:outputPanel>
									</apex:column>
									<apex:column width="11%" headerValue="Amount Owing">
										<apex:inputField value="{!expWrap.liab.Amount_Owing__c}" rendered="{!IF(expWrap.exp.Expense_Type__c == 'Mortgage - Owner Occupied',true,false)}"/>
									</apex:column>
									<apex:column width="11%" headerValue="Financial Institution">
										<apex:inputField value="{!expWrap.liab.Financial_Institution__c}" rendered="{!IF(expWrap.exp.Expense_Type__c == 'Mortgage - Owner Occupied',true,false)}"/>
									</apex:column>
									<apex:column width="34%" headerValue="Action">
										<!--<apex:outputText value="{!expWrap.expCtr}"/>-->
										<apex:commandLink value="Remove" style="color: red;" action="{!removingRow}" immediate="true" rerender="opAccomTbl" rendered="{!IF(AND((expWrap.expCtr + 1) == accommodationExpWrapList.size , expWrap.exp.Id == NULL),true,false)}" status="changeRole">
											<apex:param name="removeWhat" value="accommodation"/>  
											<apex:param name="accindex" value="{!expWrap.expCtr}"/>
										</apex:commandLink>
										<apex:actionStatus id="changeRole" style="align:left;">
											<apex:facet name="start">
												<img src="/img/loading.gif" />
											</apex:facet>
										</apex:actionStatus>
									</apex:column>
								</apex:pageBlockTable>
							</apex:outputpanel>
							<br/>
							<!--END ACCOMODATION -->
							<!--LOAN EXPENSE -->
							<table style="width:100%;background: #e0e3e5;">
								<tr>
									<th style="width: 11%;">
										<h1>Loan Expenses</h1>
									</th>
									<th style="width: 2%;">
										<apex:commandButton action="{!addExp}" status="addLoanStatus" value="Add" id="addLoan" reRender="opLoanTbl,opLoanErr">
											<apex:param id="addLoanParam" name="addLoanParam" value="Loan" assignTo="{!whatExp}"/>
										</apex:commandButton>
										<apex:actionStatus id="addLoanStatus" style="align:left;">
											<apex:facet name="start">
												<img src="/img/loading.gif" />
											</apex:facet>
										</apex:actionStatus>
									</th>
									<th style="width:87%;">
										<apex:outputpanel id="opLoanErr" layout="block">
											<apex:outputText style="font-style:italic; color: red;" value="{!loanExpErrorMessage}"/>
										</apex:outputpanel>
									</th>
								</tr>
							</table>
							<apex:outputpanel id="opLoanTbl" layout="block">
								<apex:pageBlockTable value="{!loanExpWrapList}" var="expWrap">
									<apex:column width="11%" headerValue="Expense Owner">
										<apex:selectList value="{!expWrap.expOwner}" multiselect="false" size="1"> <!-- rendered="{!expWrap.exp.Id == NULL}"> JBACU-->
											<apex:selectOptions value="{!expenseOwner}"/>
										</apex:selectList>
										<!-- <apex:outputText value="{!expWrap.expOwner}" rendered="{!expWrap.exp.Id != NULL}"/> JBACU-->
									</apex:column>
									<apex:column width="11%" headerValue="Expense Group">
										<apex:outputPanel styleClass="requiredInput" layout="block" > <!--rendered="{!expWrap.exp.Id == NULL}"> JBACU-->
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>
											<apex:inputField value="{!expWrap.exp.Lead_Expense_Group__c}">
												<apex:actionSupport event="onchange" action="{!setLoanRT}" oncomplete="document.getElementById('{!$Component.ifExpType}').selectedIndex = 0;" rerender="opLoanTbl" status="setLoanRTId">
													<apex:param name="loanExpCurrCtr" value="{!expWrap.expCtr}" assignTo="{!loanExpCurrCtr}"/>
												</apex:actionSupport>
													<apex:actionStatus id="setLoanRTId" style="align:left;">
														<apex:facet name="start">
															<img src="/img/loading.gif" />
														</apex:facet>
													</apex:actionStatus>
											</apex:inputField>
										</apex:outputPanel>
										<!-- <apex:outputText value="{!expWrap.exp.Lead_Expense_Group__c}" rendered="{!expWrap.exp.Id != NULL}"/> JBACU-->
									</apex:column>
									<apex:column width="11%" headerValue="Expense Type">
										<apex:outputPanel id="expType" styleClass="requiredInput" layout="block" rendered="{!IF(expWrap.exp.Lead_Expense_Group__c != NULL, true,false)}" > <!-- rendered="{!IF(AND(expWrap.exp.Lead_Expense_Group__c != NULL, expWrap.exp.Id == NULL),true,false)}"> JBACU -->
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>	
											<apex:inputField id="ifExpType" value="{!expWrap.exp.Expense_Type__c}" />
										</apex:outputPanel>
										<apex:outputPanel id="expTypeBlnk" styleClass="requiredInput" layout="block" rendered="{!IF(expWrap.exp.Lead_Expense_Group__c == NULL,true,false)}"> <!-- rendered="{!IF(AND(expWrap.exp.Lead_Expense_Group__c == NULL, expWrap.exp.Id == NULL),true,false)}"> JBACU -->
											<apex:outputText style="font-style:italic; color: blue;" value="Select Expense Group"/>
										</apex:outputPanel>
										<!-- <apex:outputText value="{!expWrap.exp.Expense_Type__c}" rendered="{!expWrap.exp.Id != NULL}"/> JBACU -->
									</apex:column>
									<apex:column width="11%" headerValue="Payment Amount">
										<apex:outputPanel styleClass="requiredInput" layout="block" >
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>
											<apex:inputField value="{!expWrap.exp.Payment_Amount__c}"/>
											<!--required="true"-->
										</apex:outputPanel>
									</apex:column>
									<apex:column width="11%" headerValue="Payment Frequency">
										<apex:outputPanel styleClass="requiredInput" layout="block" >
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>
											<apex:inputField value="{!expWrap.exp.Payment_Frequency__c}"/>
											<!--required="true"-->
										</apex:outputPanel>
									</apex:column>
									<apex:column width="11%" headerValue="Amount Owing">
										<apex:inputField value="{!expWrap.liab.Amount_Owing__c}"/>
									</apex:column>
									<apex:column width="11%" headerValue="Financial Institution">
										<apex:inputField value="{!expWrap.liab.Financial_Institution__c}"/>
									</apex:column>
									<apex:column width="23%" headerValue="Action">
										<apex:commandLink value="Remove" style="color: red;" action="{!removingRow}" immediate="true" rerender="opLoanTbl" rendered="{!IF(AND((expWrap.expCtr + 1) == loanExpWrapList.size , expWrap.exp.Id == NULL),true,false)}" status="changeRole">
											<apex:param name="removeWhat" value="loan"/>  
											<apex:param name="loanindex" value="{!expWrap.expCtr}"/>
										</apex:commandLink>
										<apex:actionStatus id="changeRole" style="align:left;">
											<apex:facet name="start">
												<img src="/img/loading.gif" />
											</apex:facet>
										</apex:actionStatus>
									</apex:column>
								</apex:pageBlockTable>
								<br/>
							</apex:outputpanel>
							<!--END LOAN EXPENSE -->
							<!--CARDS EXPENSE -->
							<table style="width:100%;background: #e0e3e5;">
								<tr>
									<th style="width: 11%;">
										<h1>Card and Credit Payments</h1>
									</th>
									<th style="width: 2%;">
										<apex:commandButton action="{!addExp}" value="Add" status="addCardStatus" id="addCard" reRender="opCardTbl,opCardErr">
											<apex:param id="addCardParam" name="addCardParam" value="Card" assignTo="{!whatExp}"/>
										</apex:commandButton>
										<apex:actionStatus id="addCardStatus" style="align:left;">
											<apex:facet name="start">
												<img src="/img/loading.gif" />
											</apex:facet>
										</apex:actionStatus>
									</th>
									<th style="width:87%;">
										<apex:outputpanel id="opCardErr" layout="block">
											<apex:outputText style="font-style:italic; color: red;" value="{!cardExpErrorMessage}"/>
										</apex:outputpanel>
									</th>
								</tr>
							</table>
							<apex:outputpanel id="opCardTbl" layout="block">
								<apex:pageBlockTable value="{!cardExpWrapList}" var="expWrap">
									<apex:column width="11%" headerValue="Expense Owner">
										<apex:selectList value="{!expWrap.expOwner}" multiselect="false" size="1"> <!-- rendered="{!expWrap.exp.Id == NULL}"> JBACU-->
											<apex:selectOptions value="{!expenseOwner}"/>
										</apex:selectList>
										<!-- <apex:outputText value="{!expWrap.expOwner}" rendered="{!expWrap.exp.Id != NULL}"/> JBACU-->
									</apex:column>
									<apex:column width="11%" headerValue="Expense Type">
										<apex:outputPanel styleClass="requiredInput" layout="block" >
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>	
											<apex:inputField value="{!expWrap.exp.Expense_Type__c}"/>
										</apex:outputPanel>
									</apex:column>
									<apex:column width="11%" headerValue="Limit">
										<apex:outputPanel styleClass="requiredInput" layout="block" >
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>
											<apex:inputField value="{!expWrap.liab.Credit_Limit__c}"/>
											<!--required="true"-->
										</apex:outputPanel>
									</apex:column>
									<apex:column width="11%" headerValue="Amount Owing"> <!-- JBACU 7/18/19 Remove Balance and replace with Amount Owing--> 
										<apex:outputPanel styleClass="requiredInput" layout="block" >
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>
											<apex:inputField value="{!expWrap.liab.Amount_Owing__c}"/>
										</apex:outputpanel>
									</apex:column> 
									<apex:column width="11%" headerValue="Payment Amount">
										<apex:outputPanel styleClass="requiredInput" layout="block" >
											<apex:outputPanel styleClass="requiredBlock" layout="block"/>
											<apex:inputField value="{!expWrap.exp.Payment_Amount__c}"/>
											<!--required="true"-->
										</apex:outputPanel>
									</apex:column>
									<apex:column width="11%" headerValue="Payment Frequency">
										<apex:outputField value="{!expWrap.exp.Payment_Frequency__c}"/>
									</apex:column>
									<apex:column width="11%" headerValue="Financial Institution">
										<apex:inputField value="{!expWrap.liab.Financial_Institution__c}"/>
									</apex:column>
									<apex:column width="23%" headerValue="Action">
										<!-- <apex:outputText value="{!expWrap.expCtr}"/> -->
										<apex:commandLink value="Remove" style="color: red;" action="{!removingRow}" immediate="true" rerender="opCardTbl" rendered="{!IF(AND((expWrap.expCtr + 1) == cardExpWrapList.size , expWrap.exp.Id == NULL),true,false)}" status="changeRole">
											<apex:param name="removeWhat" value="card"/>  
											<apex:param name="cardindex" value="{!expWrap.expCtr}"/>
										</apex:commandLink>
										<apex:actionStatus id="changeRole" style="align:left;">
											<apex:facet name="start">
												<img src="/img/loading.gif" />
											</apex:facet>
										</apex:actionStatus>
									</apex:column>
								</apex:pageBlockTable>
							</apex:outputpanel>
							<br/>
							<!--END CARDS EXPENSE -->
							<!--LIVING EXPENSE -->
							<table style="width:100%;background: #e0e3e5;">
								<tr>
									<th style="width: 11%;">
										<h1>Household Living Expenses</h1>
									</th>
									<th style="width: 2%;">
										<apex:actionStatus id="addLivingStatus" style="align:left;">
											<apex:facet name="start">
												<img src="/img/loading.gif" />
											</apex:facet>
										</apex:actionStatus>
									</th>
									<th style="width:87%;">
										<apex:outputpanel id="opLivingErr" layout="block">
											<apex:outputText style="font-style:italic; color: red;" value="{!livingExpErrorMessage}"/>
										</apex:outputpanel>
									</th>
								</tr>
							</table>
							<apex:outputpanel id="opLivingTbl" layout="block">
								<table class="list">  
									<!--Additional Income TABLE  HEADER-->
									<thead>
										<tr class="headerRow">
											<th class="headerRow" scope="col" style="width: 11%;">
												Food &amp; Clothing
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Food_Clothing__c.inlineHelpText}"/>
											</th>
											<th class="headerRow" scope="col" style="width: 11%;">
												Transport
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Transport__c.inlineHelpText}"/>
											</th>
											<th class="headerRow" scope="col" style="width: 11%;">
												Utilities &amp; Rates
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Utilities_Rates__c.inlineHelpText}"/>
											</th>
											<th class="headerRow" scope="col" style="width: 11%;">
												Lifestyle
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Lifestyle__c.inlineHelpText}"/>
											</th>
											<th class="headerRow" scope="col" style="width: 56%;">
												TV &amp; Communications
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_TV_Communications__c.inlineHelpText}"/>
											</th>
										</tr>
									</thead>

									<tbody>
										<!--Additional Incomes-->
										<apex:repeat value="{!livingExpWrapList}" var="expWrap">
											<apex:outputPanel layout="none" rendered="true"> 
												<tr class="dataRow">
													<td><apex:inputField value="{!expWrap.exp.Living_Food_Clothing__c}"/></td>
													<td><apex:inputField value="{!expWrap.exp.Living_Transport__c}"/></td>
													<td><apex:inputField value="{!expWrap.exp.Living_Utilities_Rates__c}"/></td>
													<td><apex:inputField value="{!expWrap.exp.Living_Lifestyle__c}"/></td>
													<td><apex:inputField value="{!expWrap.exp.Living_TV_Communications__c}"/></td>
												</tr>
											</apex:outputPanel>
										</apex:repeat>
									</tbody>
								</table> 
								<table class="list">  
									<!--Additional Income TABLE  HEADER-->
									<thead>
										<tr class="headerRow">
											<th class="headerRow" scope="col" style="width: 11%;">
												Child Care Fees
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Child_Care_Fees__c.inlineHelpText}"/>
											</th>
											<th class="headerRow" scope="col" style="width: 11%;">
												Family Maintenance
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Family_Maintenance__c.inlineHelpText}"/>
											</th>
											<th class="headerRow" scope="col" style="width: 11%;">
												Insurance
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Insurance__c.inlineHelpText}"/>
											</th>
											<th class="headerRow" scope="col" style="width: 11%;">
												Education
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Education__c.inlineHelpText}"/>
											</th>
											<th class="headerRow" scope="col" style="width: 56%;">
												Other Living Expense
												<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Other_Living_Expense__c.inlineHelpText}"/>
											</th>
										</tr>
									</thead>

									<tbody>
										<!--Additional Incomes-->
										<apex:repeat value="{!livingExpWrapList}" var="expWrap">
											<apex:outputPanel layout="none" rendered="true"> 
												<tr class="dataRow">
													<td><apex:inputField value="{!expWrap.exp.Living_Child_Care_Fees__c}"/></td>
													<td><apex:inputField value="{!expWrap.exp.Living_Family_Maintenance__c}"/></td>
													<td><apex:inputField value="{!expWrap.exp.Living_Insurance__c}"/></td>
													<td><apex:inputField value="{!expWrap.exp.Living_Education__c}"/></td>
													<td><apex:inputField value="{!expWrap.exp.Living_Other_Living_Expense__c}"/></td>
												</tr>
											</apex:outputPanel>
										</apex:repeat>
									</tbody>
								</table> 
							</apex:outputpanel>
							<!--END LIVING EXPENSE -->
							<br/>
							<!--UFO EXPENSE -->
							<apex:outputpanel id="opUFOCont" layout="block" rendered="{!UfoExpWrapList.size > 0}">
								<table style="width:100%;background: #e0e3e5;">
									<tr>
										<th style="width: 11%;">
											<h1>UFO</h1>
										</th>
										<th style="width: 2%;">
										</th>
										<th style="width:87%;">
										</th>
									</tr>
								</table>
								<apex:outputpanel id="opUFOTbl" layout="block">
									<table class="list">  
										<thead>
											<tr class="headerRow">
												<th class="headerRow" scope="col" style="width: 10%;">
													Expense Owner
												</th>
												<th class="headerRow" scope="col" style="width: 10%;">
													Expense Group
												</th>
												<th class="headerRow" scope="col" style="width: 80%;" colspan="3">
													Expense Type
												</th>
											</tr>
										</thead>
										<tbody>
											<apex:repeat value="{!UfoExpWrapList}" var="expWrap">	
												<apex:outputPanel layout="none" rendered="true"> 
													<tr class="dataRow">
														<td>
															<apex:selectList value="{!expWrap.expOwner}" multiselect="false" size="1"> 
																<apex:selectOptions value="{!expenseOwner}"/>
															</apex:selectList>
														</td>
														<td>
															<apex:outputPanel styleClass="requiredInput" layout="block" > 
																<apex:outputPanel styleClass="requiredBlock" layout="block"/>			
																<!-- {!expWrap.expCtr}{!expWrap.exp.RecordTypeId}{!ufoRT} action="{!setUFOLoanRT}" -->
																	<apex:inputField value="{!expWrap.exp.RecordTypeId}">
																		<apex:actionSupport event="onchange" action="{!setUFOLoanRT}" oncomplete="document.getElementById('{!$Component.ifExpType2}').selectedIndex = 0;" rerender="opUFOTbl" status="setUFORT">
																			<apex:param name="ufoExpCurrCtr" value="{!expWrap.expCtr}" assignTo="{!ufoExpCurrCtr}"/>
																		</apex:actionSupport> 
																		<apex:actionStatus id="setUFORT" style="align:left;">
																			<apex:facet name="start">
																				<img src="/img/loading.gif" />
																			</apex:facet>
																		</apex:actionStatus>																	  
																	</apex:inputField>
															</apex:outputPanel>
														</td>
														<td>
															<apex:outputPanel id="expType" styleClass="requiredInput" layout="block" rendered="true" >
																<apex:outputPanel styleClass="requiredBlock" layout="block"/>	
																<apex:inputField id="ifExpType2" value="{!expWrap.exp.Expense_Type__c}">
																	<apex:actionSupport event="onchange" rerender="opUFOTbl" status="changeExpType" />
																</apex:inputField>
																<apex:actionStatus id="changeExpType" style="align:left;">
																	<apex:facet name="start">
																		<img src="/img/loading.gif" />
																	</apex:facet>
																</apex:actionStatus>
															</apex:outputPanel>
														</td>
													</tr>
												</apex:outputPanel>
												<apex:outputPanel layout="none" rendered="{!IF(expWrap.exp.RecordTypeId == ufoRT,true,false)}"> 
														<thead>
															<tr class="headerRow">
																<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">                                            
																	<apex:outputPanel layout="none">
																		Payment Amount
																	</apex:outputPanel>
																</th>
																<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;" colspan="4">
																	<apex:outputPanel layout="none">
																		Payment Frequency
																	</apex:outputPanel>
																</th>
															</tr>
														</thead>
														<tbody>
															<tr class="dataRow">
																<td> 
																	<apex:outputPanel layout="none">
																		<apex:outputPanel styleClass="requiredInput" layout="block" >
																			<apex:outputPanel styleClass="requiredBlock" layout="block"/>
																			<apex:inputField value="{!expWrap.exp.Payment_Amount__c}"/>
																		</apex:outputPanel>
																	</apex:outputPanel>
																</td>
																<td>
																	<apex:outputPanel layout="none">
																		<apex:outputPanel styleClass="requiredInput" layout="block" >
																			<apex:outputPanel styleClass="requiredBlock" layout="block"/>
																			<apex:inputField value="{!expWrap.exp.Payment_Frequency__c}"/>
																		</apex:outputPanel>
																	</apex:outputPanel>
																</td>											 
															</tr>
														</tbody>
												</apex:outputPanel>
												<apex:outputPanel layout="none" rendered="{!IF(OR(expWrap.exp.RecordTypeId == lpAssRT,expWrap.exp.RecordTypeId == lpOtherRT,expWrap.exp.RecordTypeId == lpPropertyRT,expWrap.exp.RecordTypeId == otherRT),true,false)}"> 
														<thead>
															<tr class="headerRow">
																<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">                                            
																	<apex:outputPanel layout="none">
																		Payment Amount
																	</apex:outputPanel>
																</th>
																<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																	<apex:outputPanel layout="none">
																		Payment Frequency
																	</apex:outputPanel>
																</th>
																<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																	<apex:outputPanel layout="none">
																		Amount Owing
																	</apex:outputPanel>
																</th>
																<th class="headerRow" scope="col" style="width: 70%; background-color: #fffecc;" colspan="2">
																	<apex:outputPanel layout="none">
																		Financial Institution
																	</apex:outputPanel>
																</th>
															</tr>
														</thead>
														<tbody>
															<tr class="dataRow">
																<td> 
																	<apex:outputPanel layout="none">
																		<apex:outputPanel styleClass="requiredInput" layout="block" >
																			<apex:outputPanel styleClass="requiredBlock" layout="block"/>
																			<apex:inputField value="{!expWrap.exp.Payment_Amount__c}"/>
																		</apex:outputPanel>
																	</apex:outputPanel>
																</td>
																<td>
																	<apex:outputPanel layout="none">
																		<apex:outputPanel styleClass="requiredInput" layout="block" >
																			<apex:outputPanel styleClass="requiredBlock" layout="block"/>
																			<apex:inputField value="{!expWrap.exp.Payment_Frequency__c}"/>
																		</apex:outputPanel>
																	</apex:outputPanel>
																</td>	
																<td> 
																	<apex:outputPanel layout="none">
																		<apex:inputField value="{!expWrap.liab.Amount_Owing__c}"/>
																	</apex:outputPanel>
																</td>
																<td> 
																	<apex:outputPanel layout="none">
																		<apex:inputField value="{!expWrap.liab.Financial_Institution__c}"/>
																	</apex:outputPanel>
																</td>											 
															</tr>
														</tbody>
												</apex:outputPanel>		
												<apex:outputPanel layout="none" rendered="{!IF(expWrap.exp.RecordTypeId == accomRT,true,false)}"> 
													<thead>
														<tr class="headerRow">
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">                                            
																<apex:outputPanel layout="none">
																	Payment Amount
																</apex:outputPanel>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																<apex:outputPanel layout="none">
																	Payment Frequency
																</apex:outputPanel>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																<apex:outputPanel layout="none">
																	Amount Owing
																</apex:outputPanel>
															</th>
															<th class="headerRow" scope="col" style="width: 70%; background-color: #fffecc;" colspan="2">
																<apex:outputPanel layout="none">
																	Financial Institution
																</apex:outputPanel>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr class="dataRow">
															<td> 
																<apex:outputPanel layout="none">
																	<apex:outputPanel styleClass="requiredInput" layout="block" >
																		<apex:outputPanel styleClass="requiredBlock" layout="block"/>
																		<apex:inputField value="{!expWrap.exp.Payment_Amount__c}"/>
																	</apex:outputPanel>
																</apex:outputPanel>
															</td>
															<td>
																<apex:outputPanel layout="none">
																	<apex:outputPanel styleClass="requiredInput" layout="block" >
																		<apex:outputPanel styleClass="requiredBlock" layout="block"/>
																		<apex:inputField value="{!expWrap.exp.Payment_Frequency__c}"/>
																	</apex:outputPanel>
																</apex:outputPanel>
															</td>	
															<td> 
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.liab.Amount_Owing__c}" rendered="{!IF(expWrap.exp.Expense_Type__c == 'Mortgage - Owner Occupied',true,false)}"/>
																</apex:outputPanel>
															</td>
															<td> 
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.liab.Financial_Institution__c}" rendered="{!IF(expWrap.exp.Expense_Type__c == 'Mortgage - Owner Occupied',true,false)}"/>
																</apex:outputPanel>
															</td>											 
														</tr>
													</tbody>
												</apex:outputPanel>
												<apex:outputPanel layout="none" rendered="{!IF(expWrap.exp.RecordTypeId == cardRT,true,false)}"> 
													<thead>
														<tr class="headerRow">
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">                                            
																<apex:outputPanel layout="none">
																	Limit
																</apex:outputPanel>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;"> <!-- JBACU 7/18/19 Remove Balance and replace with Amount Owing  -->
																<apex:outputPanel layout="none">
																	Amount Owing
																</apex:outputPanel>
															</th> 
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																<apex:outputPanel layout="none">
																	Payment Amount
																</apex:outputPanel>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																<apex:outputPanel layout="none">
																	Payment Frequency
																</apex:outputPanel>
															</th>
															<th class="headerRow" scope="col" style="width: 60%; background-color: #fffecc;">
																<apex:outputPanel layout="none">
																	Financial Institution
																</apex:outputPanel>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr class="dataRow">
															<td> 
																<apex:outputPanel layout="none">
																	<apex:outputPanel styleClass="requiredInput" layout="block" >
																		<apex:outputPanel styleClass="requiredBlock" layout="block"/>
																		<apex:inputField value="{!expWrap.liab.Credit_Limit__c}"/>
																	</apex:outputPanel>
																</apex:outputPanel>
															</td>
															<td> <!-- JBACU 7/18/19 Remove Balance and replace with Amount Owing -->
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.liab.Amount_Owing__c}"/>
																</apex:outputPanel>
															</td> 
															<td> 
																<apex:outputPanel layout="none">
																	<apex:outputPanel styleClass="requiredInput" layout="block" >
																		<apex:outputPanel styleClass="requiredBlock" layout="block"/>
																		<apex:inputField value="{!expWrap.exp.Payment_Amount__c}"/>
																	</apex:outputPanel>
																</apex:outputPanel>
															</td>
															<td> 
																<apex:outputPanel layout="none">
																	<apex:outputField value="{!expWrap.exp.Payment_Frequency__c}"/>
																</apex:outputPanel>
															</td>	
															<td> 
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.liab.Financial_Institution__c}"/>	
																</apex:outputPanel>
															</td>					 
														</tr>
													</tbody>
												</apex:outputPanel>
												<apex:outputpanel layout="none" rendered="{!IF(expWrap.exp.RecordTypeId == livingRT,true,false)}">

													<thead>
														<tr class="headerRow">
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																Food &amp; Clothing
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Food_Clothing__c.inlineHelpText}"/>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																Transport
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Transport__c.inlineHelpText}"/>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																Utilities &amp; Rates
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Utilities_Rates__c.inlineHelpText}"/>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																Lifestyle
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Lifestyle__c.inlineHelpText}"/>
															</th>
															<th class="headerRow" scope="col" style="width: 60%; background-color: #fffecc;">
																TV &amp; Communications
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_TV_Communications__c.inlineHelpText}"/>
															</th>
														</tr>
													</thead>

													<tbody>
														<tr class="dataRow">
														<!--Additional Incomes-->
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_Food_Clothing__c}"/>
																</apex:outputPanel>
															</td>
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_Transport__c}"/>
																</apex:outputPanel>
															</td>
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_Utilities_Rates__c}"/>
																</apex:outputPanel>
															</td>
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_Lifestyle__c}"/>
																</apex:outputPanel>
															</td>
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_TV_Communications__c}"/>
																</apex:outputPanel>
															</td>
														</tr>
													</tbody>
													<thead>
														<tr class="headerRow">
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																Child Care Fees
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Child_Care_Fees__c.inlineHelpText}"/>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																Family Maintenance
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Family_Maintenance__c.inlineHelpText}"/>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																Insurance
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Insurance__c.inlineHelpText}"/>
															</th>
															<th class="headerRow" scope="col" style="width: 10%; background-color: #fffecc;">
																Education
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Education__c.inlineHelpText}"/>
															</th>
															<th class="headerRow" scope="col" style="width: 60%; background-color: #fffecc;">
																Other Living Expense
																<apex:image value="/s.gif" styleClass="helpIcon" title="{!$ObjectType.Expense1__c.Fields.Living_Other_Living_Expense__c.inlineHelpText}"/>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr class="dataRow">
														<!--Additional Incomes-->
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_Child_Care_Fees__c}"/>
																</apex:outputPanel>
															</td>
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_Family_Maintenance__c}"/>
																</apex:outputPanel>
															</td>
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_Insurance__c}"/>
																</apex:outputPanel>
															</td>
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_Education__c}"/>
																</apex:outputPanel>
															</td>
															<td>
																<apex:outputPanel layout="none">
																	<apex:inputField value="{!expWrap.exp.Living_Other_Living_Expense__c}"/>
																</apex:outputPanel>
															</td>
														</tr>
													</tbody>
												</apex:outputpanel>
											</apex:repeat>
										</tbody>
									</table>								
								</apex:outputpanel>
							</apex:outputpanel>
							<br/>
							<!--END UFO EXPENSE -->
					</apex:outputpanel>
				</apex:pageBlock>
				<apex:pageBlock id="pbExpensesBottom" rendered="{!IF(curPage == 4,true,false)}" mode="edit">
					<apex:pageBlockButtons location="top">
						<apex:commandButton value="Save & Exit" status="status" action="{!showPopup}" rerender="tstpopup,mainFrm">
							<apex:param name="Exit" value="Exit" assignTo="{!tempStr}"/>
						</apex:commandButton>
						
						<apex:outputlabel value="Back" styleclass="btn" style="padding:4px;"  onclick="window.location.href = '/apex/LeadPrelimAssessment_Income?id={!cse.Id}&isdtp=vw'; " />
						<!-- <apex:commandButton value="Back(WIP)" status="status" onclick="alert('Back button in Progress!');" onComplete="return null;" disabled="true">
							<apex:param name="Back" value="Back" assignTo="{!tempStr}"/>
						</apex:commandButton> -->

						<apex:commandButton value="Refer Out" rendered="{!IF(curPage == 4,true,false)}" status="status" action="{!showPopup}" rerender="tstpopup,mainFrm" style="margin-left: 100px;">
							<apex:param name="ReferOut" value="Refer Out" assignTo="{!tempStr}"/>
						</apex:commandButton>

						<apex:commandButton value="Unqualify" rendered="{!IF(curPage == 4,true,false)}" status="status" action="{!showPopup}" rerender="tstpopup,mainFrm">
							<apex:param name="Unqualify" value="Unqualify" assignTo="{!tempStr}"/>
						</apex:commandButton>

						<apex:outputLabel styleClass="btn" style="padding:4px; margin-left: 100px;" value="Next Page..." onclick="afSave0('');" />
						<!-- <apex:commandButton value="Next Page..." status="status" action="{!Pcontinue}" rerender="mainFrm,opHeader,statusPanelId" style="margin-left: 100px;">
							<apex:param name="Blank" value="" assignTo="{!tempStr}"/>
						</apex:commandButton> -->
					</apex:pageBlockButtons>
				</apex:pageBlock>
			</apex:outputPanel>
		<!--PAGE4 END-->

		<!-- Modal -->
			<apex:outputPanel id="tstpopup"> 
				<apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/> 
				<apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}"> 				
					<apex:pageBlock id="pbPopUp" mode="maindetail">
						<apex:pageBlockButtons location="bottom">
							<apex:outputLabel styleClass="btn" style="padding:4px;" value="{!IF(tempStr == 'Qualify & Proceed','Qualify & Proceed','Save')}" onclick="afSave0('{!tempStr}');" rendered="{!tempStr != 'Exit'}" />
							<!-- <apex:commandButton value="{!IF(tempStr == 'Qualify & Proceed','Qualify & Proceed','Save')}" action="{!pContinue}" status="popupStats" rerender="tstpopup" rendered="{!tempStr != 'Exit'}" oncomplete="if ('{!hasErrors}' == 'false') { exit(); } " /> -->
							<!-- <apex:commandButton value="Yes" action="{!pContinue}" status="popupStats" rerender="tstpopup" rendered="{!tempStr == 'Exit'}" oncomplete="if ('{!hasErrors}' == 'false') { exit(); } " />  --> 
							<apex:outputLabel styleClass="btn" style="padding:4px;" value="Yes" onclick="afSave0('{!tempStr}');" rendered="{!tempStr == 'Exit'}" />
							<apex:commandButton value="Cancel" action="{!closePopup}" status="popupStats" rerender="tstpopup"/> 
							
							<apex:actionStatus id="popupStats" style="align:left;">
								<apex:facet name="start">
									<img src="/img/loading.gif" />
								</apex:facet>
							</apex:actionStatus>
						</apex:pageBlockButtons>
						
						<apex:pageBlockSection title="{!tempStr}" columns="1" collapsible="false"> <!--{!tempStr} Refer Out, Qualify & Proceed-->
							<apex:outputPanel layout="block" rendered="{!tempStr == 'Exit'}">
								<apex:outputText style="font-style:italic" value="Are you sure you want to save and exit?"/>
							</apex:outputPanel>

							<apex:inputField value="{!cse.Status}" html-disabled="true"  rendered="{!tempStr != 'Exit'}"/>
							<apex:inputField value="{!cse.Stage__c}" html-disabled="true"  rendered="{!tempStr != 'Exit'}"/>
							<!-- <apex:inputField value="{!cse.Lost_Reason__c}" rendered="{!tempStr == 'Unqualify'}"/> -->
							<apex:inputField value="{!cse.Closed_Reason__c}" rendered="{!tempStr == 'Unqualify'}"/> <!--19/12/18 9:54am RDAVID-->
							<!-- <apex:inputField value="{!cse.Referred_Out_To__c}" rendered="{!tempStr == 'Refer Out'}"/> -->
							<apex:pageBlockSectionItem rendered="{!tempStr == 'Refer Out'}"> <!-- 16/09/19 JBACULOD -->
								<apex:outputlabel for="ifCR" value="Referred Out To" />
								<apex:inputField id="ifCR" value="{!cse.Closed_Reason__c}" />
							</apex:pageBlockSectionItem>
							<apex:inputtextArea label="Comment" value="{!cseComment.CommentBody}" rendered="{!IF(OR(tempStr == 'Unqualify',tempStr == 'Refer Out'),true,false)}" cols="30" rows="4"/>
						</apex:pageBlockSection>
					</apex:pageBlock>
				</apex:outputPanel> 
			</apex:outputPanel> 

		

    </apex:form>


</apex:page>