<apex:page standardcontroller="Account" extensions="Money3API" showHeader="false" sidebar="false" title="Money3 Application">
    <apex:sectionHeader title="Money3 Application" subtitle="{!Account.Name}"/>
    <apex:form >
        <apex:pageMessages />
    <apex:pageBlock >
        <apex:pageBlockButtons location="top">
           
            <apex:commandButton action="{!SendToMoney3}" value="Send to Money3"/>
            <!--apex:commandButton action="{!back}" value="Back"/> -->
            <apex:commandButton action="{!Save}" value="Save"/> 

            <apex:commandButton action="{!Cancel}" value="Cancel"/>
            </apex:pageBlockButtons>
            </apex:pageBlock>
        <apex:pageBlock >
      
        <apex:pageBlockSection columns="2" title="Personal Details">
            <apex:inputField value="{!Account.Salutation}" required="true"/>
            <apex:inputText value="{!Account.LastName}" required="true"/>
            <apex:inputText value="{!Account.FirstName}" required="true"/>
            <apex:inputField value="{!Account.Gender__c}" required="true"/>
            <apex:inputField value="{!Account.Date_of_Birth__c}" required="true"/>
            <apex:inputField value="{!Account.Permanent_Resident_Status__c}" required="true"/> 
            <apex:inputField value="{!Account.Drivers_Licence_Number__c}" />
            <apex:inputText value="{!Account.Marital_Status__pc}" required="true"/>
            <apex:inputField value="{!Account.Identification_Type__c}" required="true"/>
            <apex:inputField value="{!Account.Application_Type__c}" required="true"/>
            <apex:inputfield value="{!Account.Identification_Number__c}" required="true"/>
            <apex:inputText value="{!Account.UserFullName__c}" required="true"/>
            <apex:inputText value="{!Account.Loan_Reference__c}"/>
            <apex:inputText value="{!Account.PersonMobilePhone}" required="true" />
            <apex:inputText value="{!Account.PersonEmail}" required="true"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Address Information">
            <apex:inputText value="{!Account.Current_Street_Number__c}" required="true"/>
            <apex:inputText value="{!Account.Current_Street_Name__c}" required="true"/>
            <apex:inputText value="{!Account.Current_Street_Type__c}" required="true"/>
            <apex:inputText value="{!Account.Current_Suburb__c}" required="true"/>
            <apex:inputText value="{!Account.Current_State__c}" required="true"/>
            <apex:inputText value="{!Account.Current_Postcode__c}" required="true"/>
            <apex:inputField value="{!Account.Residential_Status__c}" required="true"/>
            <apex:inputText value="{!Account.Time_at_current_Address__c}" required="true"/>
       </apex:pageBlockSection>
        <apex:pageBlockSection title="Opportunity">
                <apex:inputField value="{!oppObj.Name}" required="true"/> 
                <apex:inputField value="{!oppObj.Loan_Type2__c}" required="true"/>
                <apex:inputField value="{!oppObj.Loan_Amount__c}" required="true"/>
                <apex:inputField value="{!oppObj.Loan_Product__c}" required="true"/>
                <apex:inputField value="{!oppObj.Previous_Bankrupt__c}" required="true"/>
                
                <apex:inputField value="{!oppObj.Available_Income__c}" required="true"/>
                
            </apex:pageBlockSection>
<!--            <apex:pageBlockSection title="Upload a File" >
            <apex:outputLabel value="File" for="File"/>
            <apex:inputFile value="{!document.body}" fileName="{!document.name}" id="file" />
            <apex:commandButton action="{!upload}" value="Save"/>
           
        </apex:pageBlockSection> -->  
        </apex:pageBlock>
    </apex:form>
    <apex:relatedList List="Employment__r"/>
    <apex:relatedList List="Applicant_2__r"/>
    <apex:relatedList list="Assets__r"/>
    <apex:relatedList list="Liabilities__r"/>
    <apex:relatedList List="References__r"/ >

</apex:page>