<apex:page id="pg" controller="PLS_Upload_Commissions" sidebar="false" tabStyle="Commission_Reconciliation__tab">  
  
  <center> 
  <apex:form id="frm">
      <font color="red"><apex:messages /></font>
      <!-- INPUT FILE TO ACCEPT ONLY CSV FILES -->
      <table>      
          <tr>
              <td colspan="3">
              <apex:inputFile value="{!transactionFile.body}" fileName="{!transactionFile.Name}" accept=".csv"/>
              </td>
          </tr>
          <tr>
              <td>      
              <apex:commandbutton value="Upload" action="{!upload}"/>     
              </td>
          </tr>
      </table>
      <apex:outputPanel rendered="{!IF(updatedcomms.size!=null,true,false)}">
          <table class="list " border="0" cellpadding="0" cellspacing="0">
          <tr>      
              <th colspan="4">Commissions Affected after Processing the File are {!updatedcomms.size} </th>
          </tr>
              <tr>
                  <th>Action</th>
                  <th>Institution</th>
                  <th>Reference</th>
                  <th>Commission Amount</th>
                  <th>Paid</th>
                  <td>
                      <apex:repeat value="{!updatedcomms}" var="com">
                          <tr>
                          <td class="dataCell">
                              <apex:outputLink value="/{!com.id}" target="__blank"> |View| </apex:outputLink>
                          </td>
                          <td class="dataCell">
                              {!com.Institution__c}
                          </td>
                          <td class="dataCell">
                              {!com.Reference__c}
                          </td>
                          <td class="dataCell">
                              {!com.Commision_Amount_Inc_GST__c}
                          </td>
                           <td class="dataCell">
                              <apex:outputField value="{!com.Paid__c}"/>
                          </td>
                          </tr>
                      </apex:repeat>
                  </td>
              </tr>
          </table>
      </apex:outputPanel>
  </apex:form>
  </center>
  

</apex:page>