<apex:page standardController="Contact" standardStylesheets="false">
	<apex:pageMessages />
	<apex:includeLightning />
	<apex:stylesheet value="{!URLFOR($Resource.smagicinteract__LightningDatePicker,'')}"/>
	<div id="lightning" />
	<script>
	var IdList = '[{!$CurrentPage.parameters.id}]';
	var objectName="Contact";
	var mobileFields="MobilePhone";//If you want to enter multiple fields then please seperate by semi-colon.
	var optOutField="smagicinteract__SMSOptOut__c";
	var isOptOut=false;
	var nameField = "FirstName";
	var unrelatedObjects = "";//If you want to enter multiple objects then please seperate by semi-colon.
	$Lightning.use("smagicinteract:BulkSMSApp",function() {
		$Lightning.createComponent("smagicinteract:BulkSMSComponent",{
			"IdList"				: IdList,
			"objectName"			: objectName,
			"mobileFields"		: mobileFields,
			"optOutField"		: optOutField,
			"optOutCheckBox"		: isOptOut,
			"nameField"			: nameField,
			"unrelatedObjects"	: unrelatedObjects,
			"renderRecipientList"	: false
		},"lightning",function(cmp) {});
	});
	</script>
</apex:page>