<apex:page controller="VedaIndividualPrintableCC_NM" >
	<head>
		<style type="text/css" media="print">
		@page {
		margin-top: 20px;
		margin-bottom:20px;
		@top-center {
		content: element(header);
		}
		@bottom-left {
		 content: element(footer);
		}
		
		@bottom-right {
		content: "Page " counter(page) " of " counter(pages);
		}
		}
		
		 
		div.header {
		
		position: running(header);
		display:inline;		
		}
		div.footer {
		display: inline;
		position: running(footer);
		}
		 
		.pagenumber:before {
		content: counter(page);
		}
		.pagecount:before {
		content: counter(pages);
		}
		</style>
	</head>
	
	<div class="header" >
    	<apex:image url="{!$Resource.CreditFile_Logo}" style="width:180px;"/>
    	<apex:image url="{!$Resource.VedaLogo}" style="width:180px;float:right;" />
    </div>
 	
 	<div class="content">
   		 <apex:insert name="body"/>
    </div>
    
   
 
</apex:page>