.THIS .navigation {
    min-width: 225px;
    border-right: 1px solid #e7e7e7;
    /* background-color: #f4f6f9; */
    
    /* padding: 20px 0; */
}

.THIS .layoutContent {
    position: relative;
    width: 80%;
}
/* .THIS {
    
    min-width: 225px;
} */
.THIS .contentCls {
    width: 100%;
}