.THIS .valspins::after {
    position: absolute;
    /*content: 'Validating...';*/
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.THIS .valVarSpinner{
    background-color: transparent !important;
    position: inherit;
    top: -120px;
}

.THIS .valprogress {
    position: absolute;
    /*content: 'Validating...';*/
    width: 100%;
    text-align: center;
    top: calc(30% + 3em);
    font-weight: bold;
}

.lcardWarning.THIS{
    padding: 10px;
    background-color: #FFFFDC;
    border-color: #F8E38E;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}